[2016-04-06 22:38] #2067 closed

[2016-04-06 22:38] normanjaeckel commented on #2069
Check if 0.0.16 is working (after it is released).

[2016-04-06 22:47] normanjaeckel opened #2071 "Update README"
Move out development text and shorten install instructions for Windows. Clean up everything.

[2016-04-07 17:51] #2065 closed

[2016-04-11 09:30] emanuelschuetze commented on #2064
I found the problem which was not easy to catch!
Solution: jquery hat to load first before angular is loaded! So we have to change the order in bower.json.
See https://github.com/OpenSlides/OpenSlides/pull/2072

[2016-04-11 15:29] #2064 closed

[2016-04-12 20:18] emanuelschuetze opened #2075 "Motion csv import: new category are created multiple and is not assigned to imported motion"
* Import motions-demo_de.csv from http://files.openslides.org/csv-examples/
* All categories are marked as 'will be created'.
* After import a category is created two time if this category is listed in two motions.
* The imported motions have no categories assigned (category field is empty).

[2016-04-13 07:25] ostcar opened #2078 "Support setuptools 20"
At the moment we only support setuptools<20.0 but in Ubuntu 16.04 there is setuptools 20.3 in the packages. To make the creation of a ubuntu package possible after the 2.0 release, we should change the requirements_production.txt to support setuptools 20.

http://packages.ubuntu.com/xenial/python3-setuptools

[2016-04-13 07:44] emanuelschuetze commented on #2078
@normanjaeckel Can you make a PR please?

[2016-04-13 07:56] ostcar commented on #2078
I created the pr, but it is hard to test. I would be glad if one of you could do this

[2016-04-13 08:09] emanuelschuetze commented on #2078
@ostcar Please do not created a branch in our OpenSlides repo:
https://github.com/OpenSlides/OpenSlides/tree/support-setuptools-20
Using your own repo for pull requests is better.

[2016-04-13 08:10] emanuelschuetze commented on #2078
@ostcar Why is it hard to test? What should be tested?

[2016-04-13 09:09] ostcar commented on #2078
Sry. I tried to edit the file on github directly. I did not know that this creates a new branch in our main repo.

It is hard to test, because a python package has to be created. I never did this.

[2016-04-13 10:28] emanuelschuetze opened #2081 "Delegate group permissions are ignored"
Create new delegate user and login as this user.
-> All delegate specific permissions does not work. E.g. there is no new motion button! (for stuff users it works).

Group permissions of delegate user in /rest/users/group are ok (e.g. motions.can_support). So it seems to be a client problem with group delegate.

[2016-04-13 12:56] emanuelschuetze commented on #2081
I found the problem in the rest api:

A staff user get for /rest/users/user/42:
{ .. "groups": [3] }

A delegate user gets for /rest/users/user/42:
{ .. "groups_id": [3] }

 @normanjaeckel Why the rest api send two different names for groups/groups_id?

[2016-04-14 08:59] emanuelschuetze commented on #2081
@normanjaekel: ping

[2016-04-14 12:36] normanjaeckel commented on #2081
Hm. The problem is not the delegate but the admin. We need a fix on server and client side:
@emanuelschuetze: Please test the following: Change `PrimaryKeyRelatedField` to `IdPrimaryKeyRelatedField` in users/serializers.py. If you do this, the admin now gets `groups_id` instead of `groups`. Now you have to change the client so that it expects `groups_id` when handling permissions.

[2016-04-14 20:59] #2081 closed

[2016-04-15 08:27] #2078 closed

[2016-04-17 18:51] normanjaeckel commented on #2071
Done by #2073.

[2016-04-17 18:51] #2071 closed

[2016-04-24 07:38] preske87 opened #2089 "Error on startup"
Good Morning,

did install openslides and now when trying to start it I get this

`Traceback (most recent call last):
  File "/usr/local/bin/openslides", line 9, in <module>
    load_entry_point('openslides==2.0', 'console_scripts', 'openslides')()
  File "/usr/local/lib/python2.7/dist-packages/openslides/__main__.py", line 25, in main
    parser = get_parser()
  File "/usr/local/lib/python2.7/dis

[2016-04-24 09:56] emanuelschuetze commented on #2089
You have to use Python 3.4+. See README.

[2016-04-24 09:56] #2089 closed

[2016-04-24 13:57] preske87 commented on #2089
Hello and thank you. I now have installed also 3.4.4, but how can I tell openslide to use python 3.4.?

[2016-04-24 14:32] emanuelschuetze commented on #2089
You need a virtual python 3.4 environment, see https://github.com/OpenSlides/OpenSlides/blob/master/README.rst#b-setup-a-virtual-python-environment-optional

[2016-04-25 11:04] emanuelschuetze opened #2090 "OpenSlides fails in Internet Explorer 11"
Try to open OpenSlides 2.0 in IE 11. Fails with JS error:
`Die Eigenschaft "src" eines undefinierten oder Nullverweises kann nicht abgerufen werden.
Datei: openslides-libs.js, Zeile: 36, Spalte: 16243`

Maybe the lib of pdf.js or angular-pdf can't support IE11.
MS Edge browser (on Win10) works successfully.

[2016-04-26 04:10] preske87 commented on #2089
Hello and Thank you, this made the trick. But now I am faced the next challenge: The port 8000 on my server is already in use; and starting `openslides` with parameter `--port` is replied with `unknown command: --port`

[2016-04-26 04:22] preske87 opened #2091 "shutdown server"
What is the "hidden trick" to stop the openslide server? `openslides stop` doesn't seem to exist and I can also not kill the processes..

[2016-04-26 05:35] emanuelschuetze commented on #2091
There is no explicit stop command. Just quit the running `openslides start` command on console or kill the corresponding python process.

[2016-04-26 05:35] #2091 closed

[2016-05-03 21:59] ximex opened #2092 "Support Schulze voting system"
https://en.wikipedia.org/wiki/Schulze_method

[2016-05-04 07:11] emanuelschuetze opened #2093 "Move all config translations from REST API to client side"
The config labels and values should translated by client that an user can switch languages which also switch the config translations. So move all config translations to angular and translate it in JavaScript.

see also #2025

[2016-05-04 07:17] emanuelschuetze commented on #2092
@ximex Interesting feature request! Can you help implement this?

[2016-05-05 11:36] ximex commented on #2092
There are many already implementations:
- https://github.com/dgruss/schulze
- https://github.com/bjornlevi/schulze
- https://github.com/search?utf8=%E2%9C%93&q=schulze

We used the first one in our organization.

[2016-05-07 11:36] PeterTheOne commented on #2092
I would like to help with this, but I don't know much about the code base and python.. ^^

@emanuelschuetze can you outline what needs to be done to add another voting system? Or what files would need to be touched?

[2016-05-07 13:28] normanjaeckel commented on #2092
Hm. We should first discuss whether this should be a (configurable) core feature (means you can activate this method once per election/assignment or globally for all elections/assignments in the frontend config or if we want to have a plugin that adds a new module / main menu tab. The last approach has the advantage that we can develop all features we need for this but do not have to care about ev

[2016-05-07 22:53] johnfelipe opened #2094 "How can i update translation?"
I translate to spanish but my instance

http://181.135.123.118:8001/login

Is not translate it 100%

Tnks

[2016-05-07 22:57] johnfelipe opened #2095 "best method for run into subdomain"
I have nginx, gunicorn, how can i run my instance in subdomain

gestordeplenarias.jhonfelipeurregomejia.com

But is not set it now, pls give me instruction for do it correctly
Tnks

[2016-05-08 16:52] PeterTheOne commented on #2094
Have a look at https://www.transifex.com/openslides/openslides/

[2016-05-08 17:01] PeterTheOne commented on #2092
I think it would be good if the core would support multiple voting systems out of the box.

[2016-05-08 18:05] normanjaeckel commented on #2094
We can see [here](https://www.transifex.com/openslides/openslides/language/es/) that Spanish has 100% for OpenSlides 2.0.

@emanuelschuetze I can confirm that at least some strings in config view are not translated (checked language menu and browser settings).

[2016-05-08 18:12] normanjaeckel commented on #2092
Ok. Then we need a new entry for [this config var](https://github.com/OpenSlides/OpenSlides/blob/master/openslides/assignments/signals.py#L18) and then someone has to implement the logic in backend and frontend. First one should have a look at the poll module and assignment/models.py and assignments/views.py and assignments/serializers.py. Just look for the config variable and try to add the diffe

[2016-05-08 18:13] normanjaeckel commented on #2095
@ostcar does this for our demo. Maybe he can help.

[2016-05-08 18:24] PeterTheOne commented on #2092
Thanks, I will have a look..

[2016-05-08 18:25] PeterTheOne commented on #2094
`403 Forbidden Access`

[2016-05-09 06:45] emanuelschuetze commented on #2094
@johnfelipe Thanks a lot for your finished Spanish translation! If you want to test your translation work in OpenSlides you have to follow the instruction here:
https://github.com/OpenSlides/OpenSlides/blob/master/openslides/locale/README.txt
May you can make a pull request with your both language files? Otherwise I will integrate it before we make our next 2.x release.
Can you help to finish the

[2016-05-09 16:08] ostcar commented on #2095
I did it for our demo. Since 2.0 the demo runs on a server from intevation. I think, they use apache, but i am not sure. @emanuelschuetze ?

openslides 2.0 is not a wsgi application and therefore can not be deployed then a normal django project. You need to start openslides on localhost and use nginx as a proxy to connect to it.

Here is the nginx config I used for 1.7. But it should also work for

[2016-05-09 19:20] emanuelschuetze commented on #2095
Right, we use the current 2.0 demo with apache.

[2016-05-09 19:49] lesteenman opened #2096 "Messages and timers during file presentation"
When starting a presentation from a file (PDF), I can't seem to show any other elements, like messages or timers. It seems that there is no way to change the presentation from fullscreen to non-fullscreen.

[2016-05-09 19:53] lesteenman opened #2097 "Incorrect fullscreen styling"
The current fullscreen mode (at least during file presentations) seems to not update to screen size changes, and to be incorrect on wide screens. The files will always be scaled up to fill as much of the screen rather than fit into the screen.

I fixed this in Chrome devtools to test by changing the `.fullscreen canvas` style to include `max-width: 100%;`, and by removing the fixed element style o

[2016-05-09 19:55] lesteenman opened #2098 "No possibility to leave fullscreen during file presentation"
It seems there's no way to exit the fullscreen mode in a file presentation, like there used to be in Openslides 1.6

[2016-05-09 19:56] lesteenman commented on #2096
This would likely be fixed by solving #2098 as well, although being able to show messages during a fullscreen presentation is something I've always missed in OpenSlides 1.6.

[2016-05-10 06:53] emanuelschuetze commented on #2096
To show messages and countdowns during pdf presentation you have to reduce the z-index of the `.fullscreen` css class in projector.css:
https://github.com/OpenSlides/OpenSlides/blob/master/openslides/core/static/css/projector.css#L94
I think it's not desired to "disturb" a presentation with activated projector elements. If you have good use cases for it we can discuss it.

[2016-05-10 06:56] emanuelschuetze commented on #2097
Right, what we really want is to fit the presentation into window (with full width or height). Currently only the full width is used. That has to be fixed.

It would be great if you can create a pull request for it!

[2016-05-10 06:59] emanuelschuetze commented on #2098
Do you have really use cases where you want to project a pdf file *without* fullscreen mode? Then your presentation is not fit into window.

[2016-05-10 09:13] lesteenman commented on #2096
We have use cases for both, although one is arguably not too strong.

Speakers can use presentations, but they still have a limited time. Thus, being able to show the countdown during his slideshow would really help.

As for messages: We occasionally use them to hush people, or to announce a short break. For the latter, leaving fullscreen mode for a bit would not be too bad.

However, I wonder why

[2016-05-10 09:15] lesteenman commented on #2097
I'll take a look at it once I set up a fork of the project, so we can use the fixed version ourselves next week.

[2016-05-10 09:16] lesteenman commented on #2098
Only combined with #2096. Having to leave a presentation altogether to show messages or timers is no real option, as you will lose track of the current page you were on.

[2016-05-10 09:19] lesteenman commented on #1097
Is this relevant in OpenSlides 2, given there is no option for non-fullscreen while a PDF is showing?

[2016-05-10 11:04] normanjaeckel commented on #2096
Sounds reasonable to we can reduce the z-index in v2.0.1. or 2.1.x

[2016-05-10 11:06] emanuelschuetze commented on #2096
Ok.

[2016-05-10 11:07] normanjaeckel commented on #2098
So if #2096 is fixed we can close this issue?

[2016-05-10 11:08] normanjaeckel opened #2099 "Use textarea field for config login info text"
This is that people may add linebreaks to the text.

[2016-05-10 11:13] normanjaeckel opened #2100 "Add time field for new agenda items."
We should discuss if we want to support that the user sets the agenda item time when he creates the item. At the moment he has to create it and then click "Quick Edit".

[2016-05-10 11:17] lesteenman commented on #2098
If this is by design rather than an oversight, then I'd just close it right away.

[2016-05-10 11:17] #2098 closed

[2016-05-10 11:39] lesteenman commented on #2097
I do have a question regarding this: I see that all of this logic is happening in `openslides-libs.js`, which just seems one big blob of various libraries. Is it intended to work in this file, or is it generated from separate JS files? (As I can't seem to find those)

[2016-05-10 11:44] normanjaeckel commented on #2097
The `openslides-libs.js` is generated by the gulp task `js-libs`. We install third party packages via bower and concat them with gulp. All of our own logic is in separate JS files in the various openslides modules (core, motion, agenda, ...).

[2016-05-10 11:45] lesteenman commented on #2097
Ah, bower instead of NPM. That's why I couldn't find the packages.

[2016-05-10 11:49] normanjaeckel commented on #2097
NPM is only for our dev tools like bower, gulp and gulp plugins.

[2016-05-10 12:24] lesteenman commented on #2097
This seems to be an issue with angularjs-pdf, since their `page-fit` scale property does not seem to work properly (behaves like `page-fill` instead). I'll make a pull request for them.

Other than that: I also stated that window resizes do not trigger re-scaling of the PDF. Is this intended, or would a PR for that be welcome?

[2016-05-10 13:17] lesteenman commented on #2097
Correction: It is intended behavior for PDF-JS, as in the general use case, it does not matter if a PDF exceeds certain height limits. We might be able to fix this ourselves from OpenSlides code (not too pretty, since it breaks encapsulation of the PDF elements), or send in a PR to angularjs-pdf to include an option to limit the height.

[2016-05-10 16:09] donovaly commented on #2099
My bug report is not about line breaks but that longer text is too long to view it completely in the current field. So the field should be a text field instead of a line input.

[2016-05-10 16:11] donovaly commented on #2100
That one cannot directly specify the time is a regression to OS 1.5.1, see the Benutzherhandbuch where this feature is still described:
https://docs.openslides.org/de/Tutorial_2.html

[2016-05-10 17:15] johnfelipe opened #2102 "Add Closed Caption to Projector"
Is possible integrate CC to projector
http://181.135.63.86:3001/room/ID/26157?viewMode=broadcast, pls review this example, clic in "Activar" and with microphone speak spanish normally

Stay alert
Tnks

[2016-05-10 17:21] johnfelipe commented on #2095
its possible do ti with nginx?

[2016-05-10 17:29] johnfelipe commented on #2094
Where i find this path?
openslides/locale/angular-gettext/template-en.pot
openslides/locale/en/LC_MESSAGES/django.po

I have this path only

/home/felipe/OpenSlides/.virtualenv/
/home/felipe/.config/openslides/

Pls help me to translate completly to spanish version

[2016-05-10 20:27] ostcar commented on #2095
I tested it in a virtualbox and it runs without a problem. I used the config shown above.

[2016-05-10 23:26] donovaly opened #2103 "Logo ist not shown"
In OS 2.0 the logo won't be shown:

- got to Settings -> Projector
- enable to show the logo

result: the logo is not shown in the projector

- now disable to show the logo

result: the logo is shown

- now go to another menu, e.g. the start page

result: the logo is still shown in the projector preview but no longer in the projector

[2016-05-10 23:31] donovaly opened #2104 "Projector colors are not correctly shown"
in OS 2.0
- got to Settings -> Projector
- change the background color of the header/footer lines

result: the new color is correctly shown in the projector but not in the projector preview

- now go to the main page and refresh also the projector preview

result: the color is still not shown in the preview

[2016-05-10 23:38] donovaly opened #2105 "Feature request: change size of projector preview"
It would be very useful if one would be able to increase the size of the projector preview. The default settings are smaller than necessary. Look at the attached screenshot - there is space to increase the size. Since every monitor is different the default size should be kept as is but the user should be able to increase the size by dragging the projector window.
![os2-0-main-page](https://cloud.g

[2016-05-10 23:56] donovaly opened #2106 "Startseite ist nutzlos"
Man kann auf der Startseite nichts Sinnvolles tun. Man kann sie nicht projizieren und sich selbst zu begrüßen ist unnötig. Zudem wird der voreingestellte Text der Startseite nicht übersetzt, wenn man die Sprache von OpenSlides ändert.

Die Startseite ist somit eigentlich überflüssig, es sei denn man hätte dort eine Übersicht über die Tagesordnung UND Anträge UND Wahlen.

[2016-05-11 00:08] donovaly opened #2107 "feature request: possibility to project image files"
Currently one can only display PDF files via the menu Files. It should also be possible to display PNG and JPG/JPEG files because in a meeting it is common to use blackboards etc. for hand-written sheets. Images of these sheets should usually eventually be projected to summarize the results.

[2016-05-11 09:45] normanjaeckel commented on #2094
Try `/home/felipe/OpenSlides/.virtualenv/lib/python3.4/site-packages/openslides/locale/...`

[2016-05-11 10:46] lesteenman commented on #2107
I'm intending to write a plugin that will support projecting video files, but I agree that image files are also a good use case, so I might include them in my plugin. However, this does raise the question (at least to me) if support for more media types should not be included in the core project? If so, I could integrate the feature much more cleanly than with a plugin.

[2016-05-11 11:16] emanuelschuetze commented on #2107
+1 to integrate images and video projection cleanly in OpenSlides core (mediafile app)!
@lesteenman Can you try a pull request?

[2016-05-11 11:19] lesteenman commented on #2107
Will do.

[2016-05-11 11:30] PeterTheOne commented on #2106
Es können sich mehrere User einloggen, damit macht es schon Sinn dort ein paar Infos ab zu legen..

[2016-05-11 11:48] emanuelschuetze commented on #2106
Please use English for public issues.

The front page is used for static information of an assembly (e.g. general information about hotel, event, agenda, etc.) which can customized of each organisator. It was a feature request of OpenSlides users who use it online with access for all participants.

[2016-05-11 11:48] #2106 closed

[2016-05-11 17:03] johnfelipe commented on #2094
felipe@felipeurrego:~$ cd /home/felipe/OpenSlides/.virtualenv/lib/python3.4/site-packages/openslides/locale/
	felipe@felipeurrego:~/OpenSlides/.virtualenv/lib/python3.4/site-packages/openslides/locale$ ./node_modules/.bin/gulp pot
	-bash: ./node_modules/.bin/gulp: No such file or directory
	felipe@felipeurrego:~/OpenSlides/.virtualenv/lib/python3.4/site-packages/openslides$ ./node_modules/.bin/gul

[2016-05-11 18:47] normanjaeckel commented on #2094
Ah sorry. You can not use our development tools like gulp in a production instance. You have to use a development instance. See [DEVELOPMENT.rst](https://github.com/OpenSlides/OpenSlides/blob/master/DEVELOPMENT.rst).

[2016-05-11 18:54] normanjaeckel opened #2108 "Remove redundancy of languages settings"
At the moment we have a list of available languages in settings and core/base.js. If someone wants to add or remove languages he should be able to override the settings only (like in 1.7).

[2016-05-11 18:57] normanjaeckel opened #2109 "Add agenda estimated time (sum of the time of all agenda items and calculated end)"
This was a feature of 1.7

[2016-05-11 18:58] johnfelipe commented on #2094
But i need production instance, how do that?
Uninstall latest?

[2016-05-11 19:04] normanjaeckel opened #2110 "Can not add tags for topic items"
Only for motions we can use tags at the moment.

[2016-05-11 19:10] normanjaeckel commented on #2094
You can checkout a development instance, then do your translation specific work and copy the respective files to the respective places in your production instance. Or you can even use a development instance for production if you set `DEBUG=False` in your settings.

[2016-05-11 21:45] donovaly commented on #2106
I knew that this topic is controversial. For me as a new user i still don't have a clue what I can use this page for. I mean to inform the participants about e.g. hotels I have to generate a custom slide by creating a new agenda topic. I still don't know how to fill the start page with custom text and how to display it.

[2016-05-11 21:48] donovaly commented on #2107
Yes, in my opinion at least common image file types should be supported to be displayed. I vote to support PNG, JPEG/JPG and, if possible, GIF and BMP.
At conferences people shoot photos with their smartphones of e.g. blackboards and these images should be displayed.

[2016-05-11 22:40] donovaly opened #2111 "Language change does not work"
- in OS 2.0 click at the upper right and select a language of your choice. In my case the default is German and I select there English.

result:
- only the menu names are translated, but not the the submenus of the settings menu, see the attached screenshot. (It works for the other main menus.)

reloading the browser page of OpenSlides does only not work but resets the language back to German here

[2016-05-11 22:42] donovaly opened #2112 "Title of files menu is broken"
I only get instead if the title
{{ getTitle(presentedMediafile) }}
see the attached screenshot.
![file-title-bug](https://cloud.githubusercontent.com/assets/1828501/15198847/5a66600a-17da-11e6-9483-ee497df9f032.jpg)

[2016-05-11 22:53] donovaly opened #2113 ""Image list" is untranslated"
- create a new agenda item
- in the edit field click on the image symbol to insert an image
- in the popup dialog you see the untranslated string "Image list", see also
  ![image-list-bug](https://cloud.githubusercontent.com/assets/1828501/15199107/fb1b04c8-17db-11e6-842f-df58d7a21979.jpg)
  the attached screenshot

[2016-05-11 23:10] donovaly opened #2114 "PDF display uses unwanted magnification"
- in the menu Files upload a PDF with the sheet size of A4
- click on the projector icon
- now look at the projector output

result: the PDF is displayed with a magnification of 200% - making it therefore often unreadable
- now look at the projector preview

result: there the PDF is correctly displayed

[2016-05-11 23:23] donovaly commented on #2113
If you use German for OpenSlides, sometimes the whole dialog is untranslated. If this is the case, also the tooltips for the icons in the edit agenda dialog are untranslated, see attached screenshot.
![agenda-translation-bug](https://cloud.githubusercontent.com/assets/1828501/15199611/0f5d2138-17e0-11e6-8665-86e6cbef63d2.jpg)

[2016-05-11 23:38] donovaly opened #2115 "Text field in agenda item edit dialog is too small"
The vertical size of the text edit field in the agenda dialog is too small. It is possible to have more than 10 lines of text to be projected but the text edit field is even too small for 4:

![agenda-edit-too-small-example-2](https://cloud.githubusercontent.com/assets/1828501/15199796/82f52dd8-17e1-11e6-86ba-44caf9887609.jpg)

If you want not change
 its size, it should be possible to increase th

[2016-05-12 13:52] lesteenman opened #2116 "Allow hidden/private mediafiles"
In our case, we want to upload mediafiles beforehand, but not allow anonymous users to view/play these (yet). A checkmark 'public' or similar, with specific permissions related to it, would allow this.

[2016-05-12 19:44] donovaly opened #2118 "inform users to acept cookies"
The default browser setting on some PCs (like mine) is to forbid cookies. Usually websites inform the user that cookies are necessary to use a certain feature. Openslides does not. One can try to log in but nothing will happen, no warning, no error message. One gets the same blank login window again and again.

So at least when an attempt to log in the user should be informed that he must enable c

[2016-05-12 21:28] donovaly opened #2119 "feature request: use tooltips in edit participants dialog"
The edit participants dialog is quite large. So save space and get a better overview about the settings OpenSlides should use tooltips for every field in the dialog instead of static text below the fields.

![edit-participant-missing-tooltip](https://cloud.githubusercontent.com/assets/1828501/15231032/1ed66930-1899-11e6-93bc-3801250cf983.png)

[2016-05-12 22:08] donovaly opened #2120 "edit group properties is extremely error-prone"
Imagine you want to add to the group Delegates the properties "Can see the list of files" one clicks onto that item.

result: all other properties are deleted! As one cannot restore the default settings, one is lost.

It is even worse because if you clicked onto an item without pressing the CTRL key and you notice your error you might simply change to another menu item assuming that nothing was ch

[2016-05-12 22:24] donovaly opened #2121 "translation of delegates group is broken"
- set OpenSlides' language to English
- go to the list of participant groups

result: there is a group with the german name "Delegierte"

![translation-bug-delegates](https://cloud.githubusercontent.com/assets/1828501/15232360/067eba24-18a1-11e6-9e5c-d262160c6347.png)

[2016-05-12 22:55] donovaly opened #2122 "2 default participant groups not selectable"
- go to the participants list
- edit a user and try to set the group Guests and/or Registered users

result: these 2 groups are not listed in the edit participant dialog

At least setting a user as guest makes sense and should therefore be possible.

[2016-05-13 09:46] normanjaeckel commented on #2122
We have two system groups: One for anonymous guests and one for registered users. It is not possible to set a user to one of this groups because every registered user gains all permissions from the group registered while every anonymous user (without login) gains the permissions of the guests group. You can use these groups only to control permissions of these types of "users". This have to be exp

[2016-05-13 09:46] #2122 closed

[2016-05-13 14:29] PeterTheOne commented on #2106
@donovaly have a look at the settings, you can set the content there..

[2016-05-13 21:53] ostcar opened #2123 "Guest can not see the projector"
Even when the permission for the guest user allows him to see the projector, he can not see it.

The problem seems to be, that he tries to get the config and thereby gets a 403. So this seems to be a problem on the server side

[2016-05-13 22:01] ostcar commented on #2123
Sry. The guest was not enabled... maybe we shoud hide the guest group when it is not enabled to user (or developers...) don't get confused

[2016-05-13 22:01] #2123 closed

[2016-05-13 23:31] donovaly commented on #2122
Done now.

How does this work? I played around but cannot find a way to use OS without logging in.

[2016-05-13 23:38] donovaly commented on #2106
Yes, I see there a text field, but that cannot the all. I mean with a custom agenda slide I can display whatever I want. For the start page I can only display unformatted text without useful links like e.g. links to hotel pages etc.

[2016-05-14 00:21] donovaly opened #2124 "text field for messages too small"
the text field for messages is too small:

![messages-bug](https://cloud.githubusercontent.com/assets/1828501/15264956/77ee1b30-197a-11e6-92ae-9e1e8de26d2f.jpg)

It is too small even for shorter messages since everything with more tan 3 words is not visible. The solution would be to use a text field that can display more than one line.

[2016-05-14 00:27] donovaly opened #2125 "Start time field of countdowns allows invalid times"
one can insert there everything and not only times. For example one might accidentally insert "5;90" or "r:90". The result is an invalid time and one might wonder what is going on (in this case why the countdown is only 5 seconds long or why it starts at 0:00 and then to negative time).

The solution is to allow only times, if possible a dialog pops up where one can set the time via combo boxes. (

[2016-05-14 00:31] donovaly opened #2126 "enhancement: show countdown when message is shown"
It is useful to have both displayed, the message and the countdown. For example one might inform that there is something in 5 minutes and the participants should see the 5 minutes count down. Currently only the message is shown while the time is greyed out:
![mitteilung-countdown-bug](https://cloud.githubusercontent.com/assets/1828501/15265037/d47f8f22-197b-11e6-8fd8-42d0305e4b15.jpg)

[2016-05-14 00:49] donovaly opened #2127 "enhancement: allow to input messages like theme slide text (with text style, colors etc.)"
line breaks are useful to sort info. For example to display text like:

"Please get ready with the vote in 5 minutes.
The ballots are in room 2."

Here is an example showing another case where the automatic line breaking mechanism lead to a wrong output.
![mitteilung-essen](https://cloud.githubusercontent.com/assets/1828501/15265165/6ccbd28e-197e-11e6-8817-99ab1ed3c315.jpg)
This one can also be so

[2016-05-14 10:45] PeterTheOne commented on #2106
Let's continue here #2099

[2016-05-14 15:21] donovaly commented on #2099
Peter, you got me wrong. This bug is about that the text in the green area at the login screen:
![welcome-text-field-bug-1](https://cloud.githubusercontent.com/assets/1828501/15269188/16864ed4-19f8-11e6-914e-e06ea8a2d8b7.jpg)
has to be entered in the settings in a line edit:
![welcome-text-field-bug-2](https://cloud.githubusercontent.com/assets/1828501/15269193/29b2e120-19f8-11e6-95b6-be1c8e7dd580

[2016-05-14 15:24] donovaly commented on #2106
#2099 is a different bug report.

[2016-05-14 16:10] donovaly opened #2129 "import of participants does not check for doublings"
- import a CVS file with participants
- now try to import the same file again

result: OpenSlides does correctly nothing because the content is already in the system but it tells you that something will happen:
![import-bug-1](https://cloud.githubusercontent.com/assets/1828501/15269459/18a6c908-19ff-11e6-9423-c77f81941d5a.jpg)

- now imagine you get a phone call that surprisingly 15 persons will p

[2016-05-14 16:11] donovaly opened #2130 "enhancement: add possibility to add comment to different participants"
imagine you get a phone call that a bus with 15 persons will arrive 30 minutes later so you might add the comment "comes about 30 min later" to these persons

This is currently impossible. It is only possible to change their groups.

[2016-05-14 16:23] donovaly opened #2131 "blocker: OpenSlides does not allow participants with non-Latin characters in their name"
- import the participant Žusan Oltrán with e.g. this CSV line:

,Žusan,Oltrán,Vorstand,"3,4",kommt 15 Minuten später,

result: the person was correctly imported and everything looks fine in OpenSlides.
BUT: the person won't be able to log in. This is her entry code generated by OpenSlides:
![unicode-name-login-bug](https://cloud.githubusercontent.com/assets/1828501/15269485/4000cce6-1a00-11e6-9ea8

[2016-05-14 17:57] donovaly opened #2132 "string "Encoding" not translated in German UI"
In the section to import participants there is a string "Encoding" when OpenSlides is in German:
![encoding-translation-bug](https://cloud.githubusercontent.com/assets/1828501/15269907/fdb716a2-1a0d-11e6-9331-6cb32fa06d99.jpg)
It should be "Kodierung".

[2016-05-14 18:05] donovaly opened #2133 "enhancement: missing filter for selection of CSV files"
in the section to import participants click on the button "Search" to select a CSV file. Unfortunately this dialog misses a file type filter. Currently it is "*.":
![file-selection-filter-bug](https://cloud.githubusercontent.com/assets/1828501/15269947/1fc76d22-1a0f-11e6-9998-613d8ad6ac93.jpg)
but it should be "*.csv; *.txt" since only CSV files (or textfiles in general) are allowed. This eases to

[2016-05-14 18:26] donovaly opened #2134 "missing translation in import CSV preview"
In the section to import participants import a CSV file there are two buttons in the preview section that are not translated when OpenSlides is in German:
![import-preview-translation-bug](https://cloud.githubusercontent.com/assets/1828501/15270035/280e18d4-1a12-11e6-9230-dfdbee9deb7e.png)

[2016-05-15 18:16] donovaly opened #2135 "regression: setting time for begin of event does no longer show a calendar"
- got to the menu Settings->Agenda and click there into thefield for the begin time

result: one can enter there anything, not only a date and the calendar is not shown

This is a regression to OpenSlides 1.5.1 where a calendar was shown, see this image from the 1.5.1 handbook:
https://docs.openslides.org/de/_images/Tutorial_2_01.png

[2016-05-15 22:59] donovaly opened #2136 "regression: users are always sorted with their first name"
In the settings under users there is the option "sort users with first name".
This option is now useless because the sorting is always with the first name. This is a regression to older OpenSlides versions as one can see in this screenshot of the manual for OpenSlides 1.5.1:
https://docs.openslides.org/de/_images/Tutorial_3_03.png

[2016-05-15 23:31] donovaly commented on #2122
OK, I found now the corresponding option and documented it.

[2016-05-16 00:01] donovaly commented on #2109
I miss this too.

[2016-05-16 00:16] donovaly opened #2137 "blocker: user login system is broken"
- create a new user and give him the username "johndoe"
- set his password to "test"
- try to login

result: one cannot login with johndoe, but OpenSlides created his login info correctly:
![johndoe-bug](https://cloud.githubusercontent.com/assets/1828501/15277698/e6e19822-1b0b-11e6-852e-7242aa27f7ef.jpg)

The whole user login system seems to be broken because for many users I get the same problem.

[2016-05-16 00:26] donovaly commented on #2137
OK, it seems that as soon as one specifies a preset password, a user cannot log in!

It is even worse because if a user forgot his password and the admin presses "reset" to generate a new password. The password will be deleted but no new one will be created. it is simply empty.
 This is a nightmare since there is no way to make it possible that the user can log in.

[2016-05-16 00:30] donovaly commented on #2137
It is even more severe: Create a new user, then edit it and press "reset" behind the password field. As result the user won't be able to log in.
So whenever one enters manually a password or presses "reset" the user cannot log in.

[2016-05-16 00:32] donovaly commented on #2131
This bug is just another instance of bug #2137. Non-Latin chars work.
(I only clicked "reset" to generate a new password for the user and this triggers #2137.)

[2016-05-16 00:32] #2131 closed

[2016-05-16 01:20] donovaly opened #2138 "Reordering speakers has no effect on projector"
- create a speakers list
- move the last speaker to the top to be the next speaker

result: this works within OpenSlides but the change is not displayed in the projector or the live preview. One can update the browser window without success.

This is a regression to OpenSlides 1.5.1.

[2016-05-16 14:17] donovaly opened #2139 "tag feature is provided for elections and agenda but not usable there"
There is the button "tags" in the menus for the agenda and for elections. But currently it is not possible to set a tag for an agenda point or for an election.
So either this will be made possible or the tag button should be removed.

[2016-05-16 22:39] donovaly opened #2140 "Comment on ballot paper is too short"
For a typical election of persons, a typical comment on the ballot paper would be in German for example

_Sie haben maximal 5 Stimmen. Damit der Wahlzettel gültig ist, müssen Sie mindestens eine Person wählen._

The length of this message is 104 characters but currently OpenSlides allows only a length of 79 characters for "poll_description_default". This is an unnecessary restriction since there i

[2016-05-16 22:44] donovaly opened #2141 "No translation for ballot paper"
- use OpenSlides with English menus
- create an election
- create the ballot paper

result: the ballot paper is in German

[2016-05-16 22:57] johnfelipe commented on #2095
felipe@felipeurrego:~$ cd /etc/nginx/
	felipe@felipeurrego:/etc/nginx$ sudo cp sites-available/default sites-availableopenslides
	[sudo] password for felipe:
	felipe@felipeurrego:/etc/nginx$ sudo ln -s /etc/nginx/sites-available/openslide sites-enabled/openslides
	felipe@felipeurrego:/etc/nginx$ sudo nano sites-available/openslides
	felipe@felipeurrego:/etc/nginx$ sudo service nginx restart
	 * Re

[2016-05-16 23:15] donovaly opened #2142 "Wrong number of eligible persons"
- create an election and say that there have 3 persons to be elected
- add 5 candidates to the candidate list
- in the first voting round mark only 1 persion as elected
- start the second voting round
- print the ballot paper for this voting

result: OpenSlides adds this "_2. Wahlgang, 4 Kandidaten/innen, 3 verfügbare Posten_".
So the number of candidates is correct but since one person was alread

[2016-05-16 23:21] johnfelipe commented on #2094
i translate correctly and is not 100% in spanish
Pls help me

[2016-05-16 23:34] donovaly opened #2143 "Wrong nu,ber of possible votes"
- create a new election and define 7 possible positions
- now add only 3 persons to the candidate list
- start the voting and print the ballot paper

result: the ballot paper created by OpenSlides tells the electors that he has 7 votes:
![wrong-numer-of-possible-votes](https://cloud.githubusercontent.com/assets/1828501/15306960/269437d6-1bcf-11e6-962a-bf2071feef41.png)
but as there are only 3 pers

[2016-05-16 23:44] donovaly commented on #2143
Stupid me, I said that OpenSlides should say this. Sorry and closing.

[2016-05-16 23:44] #2143 closed

[2016-05-17 12:08] normanjaeckel commented on #2106
Please check whether HTML support does work properly. If yes this may be documented or even added to the help text.

[2016-05-17 12:12] normanjaeckel commented on #2127
Please check if HTML is supported (add `<br>`). If yes, this can be documented.

[2016-05-17 12:15] #2096 closed

[2016-05-17 12:32] normanjaeckel commented on #2130
What about using the comment field of every user?

[2016-05-17 12:36] normanjaeckel commented on #2137
What about the following:
- Edit a user
- Change its default password but dont click reset
- Just click save
- Then open the edit form again and click reset without editing the default password any more.

This should work but there might a bug nevertheless.

[2016-05-17 12:38] normanjaeckel commented on #2133
Hm. This dialog is created by your browser. Does anyone know how to tell the broweser that it should filter the files?

[2016-05-17 12:43] normanjaeckel commented on #2139
See #2110. Maybe this is a duplicate.

[2016-05-17 14:07] PeterTheOne commented on #2133
Use the `accept` attribute for the `input` field:

- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input

[2016-05-17 14:55] ostcar commented on #2095
You probably have to read the nginx documentation if you want to use this software.

To help you configure it, I need more informations. In which file did you copy to content you pasted above? If you saved it into /etc/nginx/sites-available/openslide then why did you copy the file from /etc/nginx/sites-available/default?

Do you have a file /etc/nginx/include/plain and /etc/nginx/include/openslide

[2016-05-17 14:58] ostcar commented on #2095
Maybe this gist can help. You have to read in the ansible-documentation how to run a playbook. If you can to this, then the gist installs openslides on ubuntu 16.04

https://gist.github.com/ostcar/05140c0d90bf787bfe7814194b609f09

[2016-05-17 22:51] donovaly commented on #2127
This does not work.

But why can't the text field in which one has to enter the message text not be as feature rich like e.g. the text input field for agenda points?

[2016-05-17 22:54] donovaly commented on #2130
You misunderstood me: I need the feature to be able to select e.g.15 persons (out of several hundred) and add the same comment to all persons I selected. Editing 15 persons or more consumes too much time.

[2016-05-17 23:02] donovaly commented on #2137
Whenever I modify the field for the user password the user can no longer log in. The reset button also changes the password field and therefore triggers the same bug as I now found out.

OK I have now given the password "test". The user can still not log in.

The I get the info that the password has been reset but I can still see in the login info PDF that the password is still "test". Now the use

[2016-05-17 23:05] donovaly commented on #2110
The tag feature also also not working for elections.

Bug #2139 has been marked as duplicate if this bug.

[2016-05-17 23:05] donovaly commented on #2139
Yes, it is a duplicate of bug #2110.

[2016-05-17 23:05] #2139 closed

[2016-05-17 23:40] donovaly opened #2145 "election option "publish election result only for elected candidate" has no effect"
In the settings of OpenSlides under elections there is an option "publish election result only for elected candidate". But setting/unsetting this has no effect on existing elections or on new elections.

[2016-05-18 20:02] donovaly opened #2146 "enhancement: remove already selected candidates from selection list"
- create an election and add some candidates to its list
- now try to add a person again that is already on the list

result: OpenSlides correctly issues an error message that the person is already on the list:

![candidate-exists-already](https://cloud.githubusercontent.com/assets/1828501/15373079/2ab64586-1d44-11e6-96c9-6f041dd7503a.jpg)
But it would be more convenient if already selected users

[2016-05-18 21:46] donovaly opened #2147 "linebreaks can occur inside info blocks"
The info blocks are not protected against linebreaks. In this example:
![info-button-bug](https://cloud.githubusercontent.com/assets/1828501/15375991/b48c44f0-1d52-11e6-8fe6-f78c5f7f8340.jpg)
the blocks for the tag "Soziales" is destroyed by a linebreak.

[2016-05-18 21:57] donovaly opened #2148 "input field for identifier of motions is missing"
- create a new motion by clicking on the New button

result: there is no field for the identifier. To get an identifier one has edit the motion after its creation. there there is a field to specify the identifier. This is annoying because during events it is quite common that motions are made while the event is already running so that one needs custom identifiers  depending on the topic of the mot

[2016-05-18 22:14] donovaly commented on #2148
OK, I see now that this behavior is intended. So I hereby request a change as enhancement.

[2016-05-18 23:11] PeterTheOne commented on #2147
A space before "Soziales" might prevent this kind of line break, also `white-space: nowrap;` on the "Soziales" element might help.

[2016-05-19 01:28] johnfelipe commented on #2094
![nospanish2](https://cloud.githubusercontent.com/assets/428820/15379896/1058b1b8-1d37-11e6-8b73-8e0a57675913.png)
![nospanish](https://cloud.githubusercontent.com/assets/428820/15379897/105b9216-1d37-11e6-86fa-3bb187b75d45.png)

[2016-05-19 07:28] normanjaeckel commented on #2094
As you see [here](https://github.com/OpenSlides/OpenSlides/blob/master/openslides/locale/angular-gettext/es.po#L345) the string "Change password" is not translated to Spanish in our current codebase. The last time we updated the codebase via Transifex was the 12th April 2016. All translations you made after this date (in Transifex) will come for the next release but they are not here at the moment

[2016-05-19 14:32] johnfelipe commented on #2102
Is possible integrate Caption Log

![ccopenslides](https://cloud.githubusercontent.com/assets/428820/15397119/8c9bbe9c-1da4-11e6-942e-af268b44bee2.png)

[2016-05-19 22:04] donovaly commented on #2147
It does not. I cannot add a space. Besides this we cannot assume that average users know such trickery. They just create a tag. How could they know that there are some blanks necessary?

How could one enter HTML code? I click on edit for the motion and there I can select a tag via a combobox listing the tags one has created before.

[2016-05-19 22:10] donovaly opened #2149 "missing translation in settings for motions"
- use OpenSlides with German menus
- go to the settings and there to motions and there to general

result: the combo box to select a workflow is not translated:

![translation-bug-motion-settings](https://cloud.githubusercontent.com/assets/1828501/15411279/2cd3dda2-1e1f-11e6-99c7-72332ea8e3dd.png)

[2016-05-19 22:24] donovaly opened #2150 "regression: motion setting for workflow has no effect"
- go to the motion settings and set there that the default for new motions is the complex workflow

result: the change doesn't have an effect - the simple workflow is still used for new motions

[2016-05-19 22:29] donovaly opened #2151 "missing button to return from tag overview"
- go to the menu for motions
- click there on the button "Tags"

result: one sees the list of existing tags. What is missing is a button to go back to motions. For all other things there is such a back button.

[2016-05-19 22:34] donovaly opened #2152 "category change in a motion does not change its identifier"
- go to the motion settings and set there that motions will be numbered according to their categories
- create a new motion and specify a category

result: it is correctly numbered with the prefix of the category

- now click on QuickEdit and change the category
- click on Update

result: the identifier is still the one of the former category

[2016-05-19 22:46] donovaly opened #2153 "regression: version history of motions is no longer available"
- create a new motion with the complex workflow
- set the status to permit
- edit the motion
- click on the motion

result: there is no version history:

![no-version-history](https://cloud.githubusercontent.com/assets/1828501/15411948/1ac2f256-1e24-11e6-8356-765f30ad3a2d.jpg)

This is a regression to OpenSlides with its very useful feature to show and compare different versions:
https://docs.open

[2016-05-19 22:49] donovaly opened #2154 "missing translation for motion log"
- use OpenSlides with English menus
- create a motion and edit it afterwards
- go to the motion overview and show there the log/history

result: the content of the log is in German instead of English:
![no-version-history](https://cloud.githubusercontent.com/assets/1828501/15412015/9d4de5dc-1e24-11e6-8b9f-79325fd9136b.jpg)

[2016-05-19 23:24] donovaly opened #2155 "regression: motion option to deactivate versioning has no effect"
- set the motion option in the settings to allow the deactivation of versioning
- now edit a motion

result: regardless of the option to activate/deactivate versioning there is an option for a trivial change in the edit dialog that allows to deactivate versioning

So this is either a regression to OpenSlides 1.5.1 or the change is desired to offer turning off the versioning. If so the motion setti

[2016-05-19 23:34] PeterTheOne commented on #2147
Sry, I meant that a developer could do this.

[2016-05-20 09:31] normanjaeckel commented on #2102
What is your use case? Where do you want to display some extra content? You may write a plugin to add extra projector elements and an interface to control it.

[2016-05-20 09:33] johnfelipe commented on #2102
pls view this video

https://youtu.be/wvVl1eeMBRo?t=128

If council or assembly have a microphone connect, then projector may be show closed caption

[2016-05-20 18:16] lesteenman opened #2156 "Pagination on agenda does not work"
When adding more than 100 agenda items, the later items automatically wrap to a new page. However, there is no event triggered when clicking the pagination buttons on the bottom of the page, thus making the later items inaccessible.

[2016-05-20 18:18] lesteenman opened #2157 "Description on agenda not viewable"
The description for an agenda item is only visible for users with edit rights. It would be logical to make an agenda item clickable, and show the description then.

[2016-05-20 23:49] donovaly opened #2158 "regression: PDF creation for motions fail"
- go to the menu motions
- click there on the PDF button

result: one gets a Server Error (500)

this is a regression bug.

[2016-05-20 23:57] donovaly opened #2159 "PDF creation for motions fails with images"
- create a new motion and insert in the reason field an image of your choice via the image icon you find above the edit field
- press save and not click the PDF button to view the motion

result: Server Error (500)

[2016-05-20 23:58] donovaly opened #2160 "regression: motion setting do disable supporters has no effect"
- go to the settings menu and enable there in the motions section the option to remove supporters

result: the supporters are not removed when the motion creator edits the motion in the first phase/status

This is obviously a regression bug.

[2016-05-21 00:10] donovaly opened #2161 "staff users can set non-delegate users to suport list of a motion"
- create a motion
- log out and login as another user
- now click in the new motion the button to support it

result: nothing happens!

This is a regression and in my opinion a blocker for the next release since this is a key feature of motions.

Btw., the opposite does also not work: try to remove your support for a motion (if e.g. the admin set you to the supporter list). Then also nothing happe

[2016-05-21 00:15] donovaly opened #2162 "regression: minimal numer of requires supporters for motions is not respected"
- in the motion setting use e.g. "2" as required minimal number of supporters for new motions
- now create a new motion but without any supporters

result: the admins can change the status of the motion despite to accepted it has no supporters whiel 2 supporters are required according to the settings.

This bugs looks very much to be a regression.

[2016-05-22 16:28] donovaly opened #2163 "enhancement: option to number every line in a motion text"
At least at events of the German SPD party every line of the motion text needs to be numbered. Without the numbering motions won't be accepted because it is important for discussions and for the motions to change the motion text.

It doesn't harm if then also the motion reason will be numbered per line.

[2016-05-22 18:41] donovaly opened #2164 "missing translation in motion QuickEdit"
- use OpenSlides with German translation
- create a motion and subsequently use QuickEdit to edit it

result: the description of the field "Schlagwörter" is untranslated:
![motion-quick-edit-missing-translation](https://cloud.githubusercontent.com/assets/1828501/15455727/81445962-205d-11e6-8245-066d2f8ecbcf.png)

Also the English string is incorrect it should be "select some tags".

[2016-05-22 18:56] donovaly opened #2165 "regression: csv import of motions does no longer add new participants"
- try to import motions e.g. with this CSV file:

identifier,title,text,reason,submitter,category
Kat A-1,Satzungsänderung,"Die Mitgliederversammlung möge beschließen, in §8 Absatz 1 der Vereinssatzung die Zahl fünf durch sieben zu ersetzen.","Die vielen Aufgaben erfordern eine Erweiterung des Beirates auf sieben Mitglieder.",Dr. Hans Schulze,Kategorie A
B1,Titel 2,Text 2,Begründung 2,Antragstelle

[2016-05-24 10:32] malteger commented on #2141
The language of the texts in the generated PDFs seems to be set from the browser language only. I have the same issue if I try to print ballot papers in German. You should consider adding a language setting somewhere.

[2016-05-24 18:28] johnfelipe commented on #2102
This is new ip for try this neccesary feature in councils and assemblies
http://181.135.63.86:3001/room/ID/26157?viewMode=broadcast

[2016-05-24 19:02] johnfelipe commented on #2094
![aunfalta](https://cloud.githubusercontent.com/assets/428820/15516187/4bd10d6a-21b7-11e6-832b-3053c0a2461d.png)

![proyector](https://cloud.githubusercontent.com/assets/428820/15516270/b1018fb6-21b7-11e6-9b40-7f00d1fb7cb3.png)
![general](https://cloud.githubusercontent.com/assets/428820/15516271/b117bf48-21b7-11e6-9667-f146fdff7afd.png)

Agenda
Mociones
Las elecciones
Users

Still in english lang

[2016-05-24 22:08] larsboehnke opened #2166 "Import is not completely processed"
We just imported 169 delegates as a CSV file. Few of them does not have a structure level. The preview says that 169 delegates will be imported. But only 133 are finally imported.

<img width="356" alt="bildschirmfoto 2016-05-25 um 00 10 26" src="https://cloud.githubusercontent.com/assets/11321756/15521651/246f3fde-220d-11e6-9ec7-6893e6639301.png">

If you want me to send over the import file plea

[2016-05-25 06:48] emanuelschuetze commented on #2141
Right, currently (in OpenSlides 2.0) the language of generated pdfs is based on the browser language. It's independent from the client side language chooser which impacts on html templates only. We have the same issue for all config fields: the are generated and translated from server side. And the server detected the browser language not any client-side language choice.

Our plan is for future ve

[2016-05-25 06:55] johnfelipe commented on #2094
anyone?

[2016-05-25 07:01] emanuelschuetze commented on #2166
I send a private message to Lars...
It would be interesting which users are not imported? Only the users without a structure level?

[2016-05-25 07:42] emanuelschuetze commented on #2094
I created a pull request with your updated Spanish translation files from transifex:
https://github.com/OpenSlides/OpenSlides/pull/2167

[2016-05-25 08:01] emanuelschuetze commented on #2094
I found the bug: The spanish language was not added to django settings file (global_settings.py). Now I added it with #2167. Spanish strings a now visible for e.g. config fields.

[2016-05-25 08:31] emanuelschuetze commented on #2102
Does I understand your feature request correctly: You search for a possibility to create a verbatim record (record each speaker into a protocol)?
I think, that's a special case (normally a protocol of decisions is sufficent for assemblies) which should be But you could implement a plugin for this.

[2016-05-25 10:50] normanjaeckel commented on #2162
This is not a bug. The admin is allowed to change the status even if there are not enough supporters because he may check support also outside OpenSlides. We do not want to block him to handle urgent motions. The setting of the required supporters is only to display a message if there are already enough or not or to disable supporting system.

[2016-05-25 10:50] #2162 closed

[2016-05-25 10:51] johnfelipe commented on #2094
Then i do git pull and update all or what is good process?
El 25/5/2016 3:01 AM, "Emanuel Schütze" <notifications@github.com> escribió:

[2016-05-25 11:55] #2094 closed

[2016-05-25 11:58] johnfelipe commented on #2094
git pull and nothing more?

[2016-05-25 16:53] larsboehnke commented on #2166
A first idea was that only delegates with no structure level were not imported. Yes, they were not imported but that makes only 13/37 - still 20 missing.

[2016-05-25 16:56] larsboehnke commented on #2166
Ok, every delegate with the group '1' (which means guest group, default by system) was not imported

[2016-05-26 08:24] johnfelipe commented on #2095
Please view this
https://gist.github.com/ostcar/05140c0d90bf787bfe7814194b609f09#gistcomment-1787089

[2016-05-26 08:49] johnfelipe commented on #2095
i do this:

	cd OpenSlides
	source .virtualenv/bin/activate
	mkdir /home/felipe/OpenSlides/personal_data/var/static
	python3 manage.py collectstatic --settings settings --noinput
	mkdir /home/felipe/OpenSlides/personal_data/var/media
	chmod 775 /home/felipe/OpenSlides/personal_data/var/media
in nginx this
	###
	server {
		listen 8001;
		listen [::]:8001;
		server_name 127.0.0.1 gestordeplenarias.j

[2016-05-26 10:14] normanjaeckel commented on #2166
It is intended that nobody can be member of the group with id 1. This group exists only to control the permissions of guests, that are clients without any login. (This requires that the guest system is activated in the config.)

The same for group with id 2 (registered). Nobody can be a regular member of this group but all registered users (even those who do not belong to any group) gain permissio

[2016-05-26 10:25] larsboehnke commented on #2166
@normanjaeckel the UI is not clear on this point

[2016-05-26 15:18] ostcar commented on #2095
Ubuntu 14.04 runs with upstart and not with systemd. So you have to write a config file for upstart. I never did this and can not help you with that. Before Ubuntu 16.04 I used a screen session in which I started openslides.

[2016-05-26 15:19] johnfelipe commented on #2095
pls link me manual for that

[2016-05-26 15:24] ostcar commented on #2095
https://www.gnu.org/software/screen/manual/screen.html

screen is a "windowmanager" for the terminal. So you can access your server with ssh. Start "screen". Then activate you virtualenv inside the screen and start openslides. Then detach you screen session by closing your terminal or by pressing "strg + a" and then "d"

[2016-05-26 15:38] johnfelipe commented on #2095
i have already there, but i need like subdomain and if reboot ubuntu 14 star automatically openslides
do u get me?

[2016-05-26 15:49] ostcar commented on #2095
The problem with the subdomain is solvable. All you have to do is fix your nginx config. Nginx has to listen on port 80 and connect to the openslides instance that run inside the screen session on port 8001. Your current nginx config listens on port 8001 (which is wrong when openslides also listens on port 8001).

I can not help you with the autostart problem. Please use ubuntu 16.04 or read the u

[2016-05-26 15:54] johnfelipe commented on #2095
cd OpenSlides
	screen -S OPENSLIDE
	source .virtualenv/bin/activate
	python manage.py runserver 0.0.0.0:8001

is working ok

But how put that automatically every time my server restart?

[2016-05-26 16:28] ostcar commented on #2095
As I sad before: I can not help you with that. Please use a distribution that uses systemd or read the upstart documentation. This is not openslides related, so I close this issue here

[2016-05-26 16:28] #2095 closed

[2016-05-28 12:27] larsboehnke opened #2168 "Does the version 2.0 contains the feature "Änderungsanträge"?"
Just wondered, cannot find it anymore

[2016-05-28 14:53] emanuelschuetze commented on #2168
No, amendments are not yet ported to 2.0. But we will do it for 2.1.
see #2010. Closed as dupllcate.

[2016-05-28 14:53] #2168 closed

[2016-05-28 15:13] emanuelschuetze commented on #2137
I don't understand the bug. I tested theses variants with the current master:

1. Create new user: first name "Max", last name "Mustermann", no other data.
2. Generate list of access data: the pdf shows the username ("Max Mustermann") and the generated password ("BPYepD6D").
3. Max can successfully login with username and password (tested in a private browser window).
4. Edit user Max: The default

[2016-05-28 15:18] emanuelschuetze commented on #2137
@donovaly Please accept the pending github OpenSlides-team invitation so that we can assign issues to you.

[2016-05-28 15:23] emanuelschuetze commented on #2138
I can confirm this bug. The modified order of the next speakers is not updated on projector. Also reloading the projector does not help.

[2016-05-28 15:36] emanuelschuetze commented on #2161
I can't reproduce it. The delegate user can support and unsupport a motion without problems. The admin can see that the motion was supported by delegate user.

Maybe your browser has a problem to send the post reqeust after click the "support" button? You should debug it with a network analytic tool (e.g. open the web developer tools in firefox) and confirm that the post request is successfully se

[2016-05-28 15:43] emanuelschuetze commented on #2153
I can't confirm the bug. After your 4 steps I get a version history which shows a 2nd version, see:

![issue2153](https://cloud.githubusercontent.com/assets/2075427/15628191/6c74af1c-24fb-11e6-8ff6-b0d40275fc17.png)

You should test it again. For me everything works. Can I close this issue?

[Assigned to @donovaly ]

[2016-05-28 15:45] emanuelschuetze commented on #2163
The feature request 'line numbering in motions' is already scheduled for OpenSlides 2.1.

[2016-05-28 16:02] emanuelschuetze commented on #2125
I can confirm the invalid input behaviour:
* If you enter a invalid (no integer) time (e.g. r:90) the countdown is set to "0:00". It's not wrong but maybe in this case it would be better to keep the old value.
* If you enter a wrong separator (e.g. 5;10) the countdown is set to "0:05" (cuts the last part). That should be changed to "5:10". So every separator between two integer values should assum

[2016-05-28 17:58] emanuelschuetze commented on #2118
@ostcar Does cookies really required for login state while using OpenSlides?
I deactivated cookies in Firefox and can login without problems, and I'm already logged in if I open a second window with same OpenSlides URL.

[2016-05-28 18:02] emanuelschuetze commented on #2120
We plan a new interface to manage user groups and permission in a matrix (with checkboxes), see
#435. This should solve this issue. I let this issue open until #435 is resolved.

[2016-05-28 18:42] emanuelschuetze commented on #2166
The user csv import site says `Default groups: Delegates 3, Staff 4`. There is no comment that you should not use group id 1 and 2.
@larsboehnke Do you have a suggestion how we can improve the UI?

[2016-05-28 18:45] emanuelschuetze commented on #2164
Confirmed. The string "select some options" is not marked for translations.
We just use the default string for all select fields ("select some options").

[2016-05-28 21:00] ostcar commented on #2118
When I deactivate cookies I get the same behaviour as donovaly.

At the moment cookies are required and I don't see, how we could get rid of them. We could replace them by something else, for example, we could same the session id into the local storage and send it with every request. But if we did that, we would only reprogram the functionality of cookies. So we would replace cookies with our own

[2016-05-29 06:33] johnfelipe commented on #2102
Closed caption is very good feature not for record transcription if not service online for hearing impaired, this have a repo https://github.com/a11yproject/Wordcast

[2016-05-29 17:56] #2138 closed

[2016-05-29 20:57] donovaly commented on #2161
OK, it it a bit different. You are right: users who are in the delegates group can support and unsupport motions. But if I add a user to the supporter's list who is not a delegate he cannot undo this. So it should not be possible for the staff users to set users to a support list that are not delegates (and who therefore don't have the right to support motions).

[2016-05-29 21:05] donovaly opened #2171 "staff users can remove delegates from motion support list"
- a delegate logged in and supported a motion
- now the staff users/admin can remove this user from the support list.

This is a problem because at least in political parties members fear misuse all the time and in this case the admin could remove a person from the supporter's list against his will.

[2016-05-29 21:11] donovaly commented on #2153
Hmm, indeed  can no longer reproduce this. Strange.

[2016-05-29 21:21] donovaly commented on #2125
Yes.

OK, no combo box, but it is quite simple:
- a dialog pops up that contains 2 text input fields (in the space between the 2 fields is a ':' character)
- the text fields only accept the input of numbers
- the second field (for seconds) is evaluated so that 59 is the maximal number. if one enters there "99" the field background color changes to red. If the user does not change the value the 99

[2016-05-29 21:38] donovaly commented on #2118
Then you already created a cookie that never expires (Firefox's default setting). To reproduce, disallow cookies and delete all cookies.

Really? Just google:
https://www.google.de/search?hl=de&q=cookie&ie=utf-8&oe=utf-8&gws_rd=cr&ei=UF5LV-ngDqnagAaqh4PYBg#hl=de&q=krankenversicherung
on different computers and you will be amazed how the results differ.
See
https://de.wikipedia.org/wiki/HTTP-Cookie

[2016-05-29 21:55] donovaly commented on #2118
OK according to the
https://en.wikipedia.org/wiki/Directive_on_Privacy_and_Electronic_Communications
it is not necessary to inform users explicitly that OpenSlides sets a session cookie.

So please just inform users who disabled cookies that they will have to enable them first before the can log in. Like GitHub does: if I am opening the login dialog I will be warned that I have to allow cookies in

[2016-05-29 22:02] normanjaeckel commented on #2171
This was a design decision: The admin/stuff should be able to support semi paperless assemblies. If someone comes to him (shows his ID) and says that he do not want to be a supporter of a motion any more, the admin should be able to remove him. (The admin is also able to change and reset the password of this user, log in using his credentials and the support oder unsupport motions.) The admin is e

[2016-05-29 22:11] donovaly commented on #2171
Of course many people don't trust "new" things. I cannot accept that this bug is closed without any discussion.
I cannot follow you argumentation: The user already logged in and presses the support button, so he can log in again and unsupport. So there is no need for the admin to do this. If a user refuse to log in again and to unsupport it is his decision.

Also for a later feature to support ele

[2016-05-29 22:13] donovaly commented on #2138
The fix for this bug is not released therefore the bug should stay pen, see my private email.

[2016-05-29 22:15] donovaly commented on #2162
OK: I'll document this.

[2016-05-29 22:24] normanjaeckel commented on #2161
Hm. This means that admins of small assemblies (who do not give access to the participants at all) have a lot of more work. They can not just add some users and then set them as supporters just to show that they support the motion.

In my opinion the permission system is to control the permissions of users who log in, not to control the workflow and legal system of an assembly. (This does not mean

[2016-05-29 22:32] #2153 closed

[2016-05-29 22:33] normanjaeckel commented on #2118
So lets add a small check that an alert pops if cookies are disabled.

[2016-05-29 22:33] donovaly commented on #2161
You misunderstood me. If e.g. user C (only delegate) asks user A (staff member) to add him to the support list, user A should be able to do this (and also to remove him), but if user C added himself nobody should not be allowed to change this because it was himself who did this.
I assume that the database knows who did a change. So only the person who set on the supporters list will be able to uns

[2016-05-29 22:35] donovaly commented on #2118
Yes, that would be sufficient.

[2016-05-29 22:47] normanjaeckel commented on #2171
I can imaging many situations where someone want to support or unsupport a motion but is not able to log in (at the moment or at all):
* May be the admin uses OpenSlides in presentation mode so he does not share user credentials and does not want to give participants network access. He just wants to control what is shown on the projector.
* May be the user has not computer. He just asks the admin

[2016-05-29 22:50] normanjaeckel commented on #2171
If we later implement personal elections using the credentials OpenSlides currently provides (no extra crypto stuff) then this is the same. The election should no be considered valid because OpenSlides has not button for the admin to change/remove votes but because in the end everybody is able to check if his vote was counted correctly. (OpenSlides should provide a printable (ordered) named list o

[2016-05-29 22:53] normanjaeckel commented on #2161
At the moment we do not save which user changes entries in the database. And I even do feel that we need the described restrictions here.

[2016-05-29 22:54] donovaly commented on #2171
But this is not the bug. The bug is when the user already logged in and added himself to the supporter list. if OpenSlides is not used that way users can log in he would not be able to add himself to the list before.

But again, the bug is if he already logged in before. If he lost he computer meanwhile, he must login from another PC. That should not be a hard task.

This is not allowed. A member

[2016-05-29 22:57] donovaly commented on #2161
Then this should be added.

[2016-05-30 00:18] donovaly commented on #2166
Done: https://github.com/donovaly/openslides-docs/blob/master/de/OpenSlides-Handbuch.pdf

[2016-05-30 00:35] donovaly opened #2172 "regression: version history of motions is no longer comparable"
- create a new motion with the complex workflow
- set the status to permit
- edit the motion
- click on the motion

result: there is a version history but one cannot compare the versions:
![](https://cloud.githubusercontent.com/assets/2075427/15628191/6c74af1c-24fb-11e6-8ff6-b0d40275fc17.png)

This is a regression to OpenSlides 1.5.1:
![motion_04](https://cloud.githubusercontent.com/assets/1828501

[2016-05-30 00:39] donovaly commented on #2137
I did not receive an invitation. Please re-invite me.

[2016-05-30 01:48] donovaly commented on #2137
Do nothing more than to write in "test"  and to click save. Then the user cannot log in despite the password PDF says correctly that it is now "test".

Then and only then it will work. But this is nasty. I spent now so much time with this issue but never came to the idea that one needs to press reset after (sic!) the password has been changed.
As one has already changed the password it must be pos

[2016-05-30 05:54] ostcar commented on #2118
Its ok for me.

I should have been more specific on my last post. There are a lot problems with cookies, but **session-**cookies are necessary for http. There is no way around them. Personally, I use https://addons.mozilla.org/de/firefox/addon/self-destructing-cookies/ so I only have session-cookies.

[2016-05-30 05:58] emanuelschuetze commented on #2161
We have the motion log (available for staff users only) which logs each modification (timestamp and user) of a motion. So you can get the information who has changed the motion (e.g. add/remove supporter).
I see it like @normanjaeckel: We should not regulate the admin users. The OpenSlides concept is that each admin user can do the same. Each admin should represent other admins. I don't like a new

[2016-05-30 05:58] #2161 closed

[2016-05-30 06:23] emanuelschuetze commented on #2171
@donovaly Please accept that we have to prioritize all reported OpenSlides issues. And this issues has a very low priority for us. We (the core developers) have to allot our (reduced) time slots to bring OpenSlides to the front by implementing the most useful things for all organisations and their assemblies.

This issue is not a valid bug for us because our basic assumption is that all admin user

[2016-05-30 06:23] #2171 closed

[2016-05-30 06:29] emanuelschuetze commented on #2138
The fix is available in current master and will released with our next version after 2.0: 2.0.1 or 2.1.

[2016-05-30 06:32] emanuelschuetze commented on #2172
Right, the diff feature of 1.7 is still missing in 2.0. We already have a issue for that: #1874.
So closed this issue as duplicate.

[2016-05-30 06:32] #2172 closed

[2016-05-30 06:34] emanuelschuetze commented on #2137
Done. Please check your emails.

[2016-05-30 06:43] emanuelschuetze commented on #2137
Ok, I understand: The [Reset] button within the user edit form is not very self-explaining.  Especially if you change the password and want to reset it in one step.

Any idea how we can improve the password reset process for the admin?
Maybe we should outsource the reset action into a new dialog (e.g. only a input field for the new password and a button to reset the default password to this entere

[2016-05-30 07:11] emanuelschuetze commented on #2118
Ok also for me.

Summary:
* Implement a check (while opening the login dialog) if cookies are disabled. If yes show a short message that the use has to accept cookies for OpenSlides login. Who want's to do this? ;-)
* @donovaly Add a sentence to the OpenSlides manual that (session) cookies are required for OpenSlides to login.

[2016-05-30 23:49] donovaly commented on #2118
Done

[2016-05-30 23:49] donovaly commented on #2137
What about this: make the background color of the password field red unless the reset button is pressed. Also "pulse" the button to clarify that this needs to be pressed.

I added now also a note in the manual.

[2016-05-31 06:44] emanuelschuetze commented on #2137
Good idea. I'll try it.

[2016-05-31 06:50] emanuelschuetze commented on #2154
This is a duplicate of #2025. We will move the translations from server (Rest API) to client (JS).

[2016-05-31 06:50] #2154 closed

[2016-05-31 06:51] emanuelschuetze commented on #2025
How to reproduce this issue?
* reload with German browser
* switch OpenSlides client language to English
* create a motion and edit it afterwards
* go to the motion detail view and show there the log/history
-> result: the content of the log is in German instead of English.

[2016-05-31 06:56] emanuelschuetze commented on #2152
This behaviour is desired. Sometimes you want to move a motion (from a formal category, e.g. "Initiativanträge I") to a thematical category (e.g. "Bildung B"). But it is important to keep the origin category. If you want you can change the category manually.
So, won't fix (at the moment with our current motion model.)

[2016-05-31 06:56] #2152 closed

[2016-05-31 06:59] emanuelschuetze commented on #2151
Right, but we have the problem that this tag list view is used from agenda, motions and elections list view. So we can't remember from which list view the user is come to the tag list.
I think this is not so bad because you can navigate via main menu items. I would close this issue if nobody has a better idea. Ok?

[2016-05-31 07:54] normanjaeckel commented on #2151
Is there something like a referer in AngularJS State?

[2016-05-31 08:02] emanuelschuetze commented on #2151
There is a open discussion about a "previous state" in ui-router:
https://github.com/angular-ui/ui-router/issues/92

[2016-05-31 10:52] donovaly commented on #2151
Hmm, why not simply adding a button that does the same as if I would use the back button of the webbrowser?

[2016-05-31 10:54] donovaly commented on #2152
OK, I'll describe this in the docs.

[2016-05-31 11:31] emanuelschuetze commented on #2151
Because you cannot be sure that the user comes directly to tag list view without any turn about e.g. tag edit view. One example:
motion list -> tag list -> tag form -> tag list
(a back action would be go to tag form view)

[2016-05-31 11:39] emanuelschuetze commented on #2132
I changed the German string in transifex from "Encoding" to "Kodierung".

[2016-05-31 11:40] emanuelschuetze commented on #2132
Still open: update German translation file: locale/angular-gettext/de.po

[2016-05-31 11:47] emanuelschuetze commented on #2133
@tsiegleauq Can you try this issue?

[2016-05-31 13:45] #2132 closed

[2016-05-31 17:58] donovaly commented on #2151
But from my view as bug reporter this would do the job. I just want a way to go back without the need to use the browser. So it is fine if the button is named "go back" and does the same as the browser back button.

[2016-05-31 22:55] donovaly opened #2174 "setting to remove all suportes from a motion when editing has no effect"
- use the option to remove all supporters of a motion when the submitter edits the motion in basic state
- create a motion as user A
- log in as user B and support the motion
- now edit the motion as user A

result: user B is still on the supporter's list. So the option doesn't seem to have an effect

[2016-05-31 22:56] donovaly commented on #2174
I forgot to say that I set the minimal supporters to 2 to enable the supporter system.

[2016-05-31 23:13] normanjaeckel commented on #2174
I can not confirm this. Please check if user A in your example has not the permission to manage motions.

Nevertheless a warning in the edit dialog as in 1.7 is missing.

[2016-06-01 06:51] emanuelschuetze commented on #2151
Ok, this is easy: A new "Back" button on the top of the tag list view which use the browser back action.

[2016-06-01 07:30] donovaly commented on #2174
User A created the motion. Both users are delegates.

Maybe I misunderstood the settings options. So what does it do by design?

[2016-06-02 13:22] emanuelschuetze commented on #2147
@joelmacht Can you try this issue?

[2016-06-02 20:02] joelmacht commented on #2147
Yes, I will have a look at it once I'm set up.

[2016-06-03 10:47] ostcar opened #2177 "Documentation for big mode"
Create an example documentation for the big mode.

This could be done in a documented ansible playbook.

[2016-06-05 14:10] normanjaeckel commented on #2158
This bug appears if a motion identifier is None.

[2016-06-05 17:18] normanjaeckel commented on #2142
This a a question of design: How can we display the number of available posts after some candidates are marked as elected? We have the assignment list view, the detail view, the PDF and the ballot papers. We need different solutions for these cases. @emanuelschuetze Any suggestions?

[2016-06-06 08:17] emanuelschuetze commented on #2166
@larsboehnke Any idea how we can improvethe csv user-import page that we can prevent your error for setting default group 1. Is the help text and the documentation enough? If yes we can close this issue because all done.

[2016-06-06 08:21] emanuelschuetze commented on #2146
Same user selection field is used also for list of speakers, motion submitters/supporters which should work like the candidate field for elections.

[2016-06-06 08:30] emanuelschuetze commented on #2140
We can test it with longer comment fields (e.g. 256) but we have to check that linebreaks looks good an the candidate lists is not overridden by long comment.

[2016-06-06 08:36] emanuelschuetze commented on #2140
BTW: If we have implement the client-side pdf creation with jsPDF we can improve this issue.

[2016-06-06 11:50] normanjaeckel commented on #2160
I can not reproduce this bug. I tested with a delegate as motion submitter.

[2016-06-06 11:54] normanjaeckel commented on #2157
This a question of design. Do we want to give non-staff users access to the so called custom slides.

Attention: At the moment at the list of speakers view there is a dead button to the custom slide detail view (for non-staff users).

[2016-06-06 11:57] normanjaeckel commented on #2150
Please test again with current master. This might be a problem of our config bug which was recently solved.

[2016-06-06 11:59] normanjaeckel commented on #2148
Please test again your expected behaviour if you changed the motion config value to number the identifier manually. Please use the current master because of our recently fixed config bug.

[2016-06-06 12:06] normanjaeckel commented on #2145
Confirmed. @emanuelschuetze Do you want to hide the election results for non-elected candidates only on the projector or also in the interface or do you even want me to hide them in the REST API? I do not remember the behavior of 1.7.

[2016-06-06 12:11] normanjaeckel commented on #1900
For specific feature requests please use different issues.

[2016-06-06 12:11] #1900 closed

[2016-06-06 13:50] emanuelschuetze commented on #2151
@matakuka Can you try this issue?

[2016-06-06 18:51] #2158 closed

[2016-06-06 21:21] normanjaeckel commented on #2174
Please try again with current master.

[2016-06-06 21:43] normanjaeckel commented on #2007
Test this after the so called big mode is committed.

[2016-06-06 22:21] normanjaeckel opened #2181 "Fix typo in update_config_varialbes()"

[2016-06-06 22:26] donovaly commented on #2148
How can I test master? I have atm absolutely no time to run compilers and scripts. So all I could do is to test a compiled binary.

[2016-06-06 22:57] donovaly commented on #2160
Indeed, it works here now too. So this bug cen be closed.

[2016-06-06 23:32] donovaly commented on #2114
Here is an example PDF:
[Flyer-1.pdf](https://github.com/OpenSlides/OpenSlides/files/301536/Flyer-1.pdf)

You can see that the default magnification is too large and definitely 100%. Maybe the bug is that the magnification is always displayed as "100%":
![bug-pdf-magnification](https://cloud.githubusercontent.com/assets/1828501/15841193/88c154a8-2c4f-11e6-8ee3-c10bbf74d01f.png)
(no matter how ofte

[2016-06-06 23:37] #2160 closed

[2016-06-06 23:37] donovaly commented on #2174
Duplicate of bug #2160

[2016-06-06 23:37] #2174 closed

[2016-06-07 05:52] emanuelschuetze commented on #2148
@donovaly Do you use the windows portable version? I could provide you a current snapshot version for windows if you like. Or you can create a development version yourself be following the [install instruction](https://github.com/OpenSlides/OpenSlides/blob/master/DEVELOPMENT.rst#2-installation-on-windows). What do you prefer?

[2016-06-07 05:53] emanuelschuetze commented on #2181
@normanjaeckel Please add some more information to understand this issue (and/or assign yourself).

[2016-06-07 06:33] emanuelschuetze opened #2182 "Add new config option for 100 % base of voting results (yes+no without abstain)"
Add to the config field "The 100 % base of a voting result consists of" (in section motions and elections) a new select option:
"Only YES and NO values"

Add a check for this new config option in [motions/base.js](https://github.com/OpenSlides/OpenSlides/blob/master/openslides/motions/static/js/motions/base.js#L86) and [assignments/base.js#L38](https://github.com/OpenSlides/OpenSlides/blob/master/

[2016-06-07 09:56] tsiegleauq opened #2184 "redundant usage of csv importer"
The csv importer code is redundant.

seen in
openslides/users/static/js/users/site.js
openslides/agenda/static/js/agenda/site.js
openslides/motions/static/js/motions/site.js

The code is basically

[code]

This is basically repeated three times.
I would recommend to outsource these lines in a central space, since it is used multiple times.

[2016-06-07 10:07] tsiegleauq commented on #2156
I can reproduce that issue. I gonna try to solve this this now.

[2016-06-07 10:51] donovaly commented on #2148
Yes.

Yes, please. I won't have time to compile OpenSlides by myself - real life stuff and vacation ;-). Just write me a private mail.

[2016-06-08 06:29] emanuelschuetze commented on #2110
@joelmacht Maybe you can try to add the tags form field also for agenda and assignments - after you finished your pull request #2187

[2016-06-08 08:35] normanjaeckel opened #2188 "Add warning if channel layer might be full."
See changes of autoupdate.py in https://github.com/OpenSlides/OpenSlides/pull/2170/.

[2016-06-08 08:41] #2133 closed

[2016-06-08 08:45] #2156 closed

[2016-06-08 19:14] #2151 closed

[2016-06-08 19:17] normanjaeckel commented on #2181
The function `update_config_varialbes()` should be `update_config_variables()`. We have to search the string in all files and change them.

[2016-06-08 20:21] matakuka commented on #2181
See PR #2191

[2016-06-08 20:28] emanuelschuetze commented on #2093
@matakuka Do you want to try this issue? Please ask me if you need help or more info.

[2016-06-08 20:32] emanuelschuetze commented on #2093
You can make it as we do it for the permission strings, see:
https://github.com/OpenSlides/OpenSlides/blob/master/openslides/users/static/js/users/site.js#L966
Copy all config strings into core/site.js and remove the ugettext functions and imports from config strings in python files.

[2016-06-08 20:35] emanuelschuetze commented on #2093
Maybe this example commit deea2224344ad8c72338cdcca888afd2cf11e5b2 helps you to understand it better what to do.

[2016-06-08 20:56] #2181 closed

[2016-06-09 09:54] matakuka commented on #2182
For motions there is currently no way to alter the settings of "motions_poll_100_percent_base" -- should it mirror the settings of the election method (with invalid/without invalid/ without abstains) ?

[2016-06-09 10:00] normanjaeckel commented on #2182
What do you mean by

? Is this a bug? Maybe you have to checkout the current master because we fixed a bug in the config recently.

[2016-06-09 10:05] matakuka commented on #2182
my bad, I was looking at the wrong line. Works fine

[2016-06-09 11:49] emanuelschuetze opened #2193 "Config values are created always in English"
A bug was introduces with 2221b23 (Redesign of the config variables.) which should fix the big mode:
After db creation all config values are always in English (also if my browser language is German). See e.g. title and text of welcome page after new db creation. Before this commit the config value language depends on the browser language (correct).

@ostcar I think it's your turn because you intro

[2016-06-10 00:45] donovaly commented on #2133
Works fine now. Many thanks!

[2016-06-10 00:48] donovaly commented on #2151
Works fine. many thanks!

[2016-06-10 00:55] donovaly commented on #2148
I had again a closer look and think now that the current behavior makes sense. Delegates cannot specify an identifier. This has to be done by an admin as reviser. Otherwise the chances are high to break the identifier system leading to confusions. When importing motions via CSV it is possible to specify identifiers because the import is done by the admin preparing and planning the event.

[2016-06-10 00:55] #2148 closed

[2016-06-10 06:17] emanuelschuetze opened #2196 "404 for js-data-http.js.map"
From #2170 (Big mode):
On Linux I get a 404 for js-data-http.js.map: `HTTP GET /static/js/js-data-http.js.map 40`

Looks like gulp does not copy the map file into js static folder. Check if this file is required.

[2016-06-10 08:41] matakuka commented on #2196
I'll take a look.

[2016-06-10 12:25] matakuka commented on #2196
I cannot replicate this bug in current master, although I vaguely remember seeing it on one of my branches this week.

[2016-06-10 12:48] matakuka opened #2197 "assignment phases translated by browser setting, ignoring openslides setting"
The assignment election phases "Voting", "Searching for candidates" and "Finished" are not translated.
Affects demo.openslides.org (2.0) and current master.
The strings are marked for translation in the [assignments/models.py#63-67](https://github.com/OpenSlides/OpenSlides/blob/b3582f462e032b0f5f855447f7bfcf80e706f65f/openslides/assignments/models.py#L63-L67) and are translated in the .po files, b

[2016-06-10 12:58] matakuka commented on #2197
The cause seems to be different sources for information of what the current language is. Setting the Browser (Firefox-esr 45.2.0) language to exclusively german or spanish translates these values correctly, but only after a complete reload of the project.
Then, changing the language again with either methods (selecting language in openslides or selecting browser language) requires another reload.

[2016-06-10 14:22] matakuka commented on #2197
the cause might be related to #2025

[2016-06-11 19:17] #2147 closed

[2016-06-11 20:25] emanuelschuetze opened #2198 "Whoosh and DB LockError while import of users"
Try to import 3 users (e.g. enter 3 lines in textarea or use a csv example).
Only 2 users are imprted. Server shows a lot of errors:

[code]

@ostcar Please look at this. It looks like a problem caused by big mode.

[2016-06-12 11:25] PeterTheOne commented on #2092
https://github.com/bradbeattie/python-vote-core also looks good.

[2016-06-13 05:56] ostcar commented on #2198
There could be two different errors, one with whoosh and one with sqlite. I could only reproduce the one with whoosh.

Django Channels runserver command starts 4 worker threads. So even on the small mode, OpenSlides has to be multithread ready.

On the client side the user import sends different post-request to the server at the same time. So the server tries to create to create the users at the s

[2016-06-13 06:23] emanuelschuetze commented on #2198
You can see the the sqlite error if you scroll up in your server terminal output (comes before the whoosh error).
This symptom of users import (several write operations at one time) could also be happened if several admin users run different write actions in the same time. Right?

[2016-06-13 06:32] emanuelschuetze commented on #2197
Right, we have to move the translations of assignment phase strings to client side (from models.py to assignments/site.js) - like in #2194. Then you can switch the language by using the OpenSlides language chooser (without changing the browser language and reloading...)

[2016-06-15 13:21] emanuelschuetze commented on #2025
@normanjaeckel What is to do here on server side? Can you summarize it that an other developer can understand and implement it?

[2016-06-15 20:54] normanjaeckel opened #2200 "Custom start script options should throw error if misspelled"
If one uses a start script command like `start` or `createsettings` there should be an error if a wrong option like a misspelled `--local-installation` is used. At the moment the wrong option is silently ignored and the user gets an unexpected result.

[2016-06-16 08:21] normanjaeckel commented on #2025
First try to reproduce the following:
* Open one Session (user 1) with a German browser.
* Open anonther Session (user 2) with an English browser,
* Create an edit a motion with both users.

Now the motion log should contain different languages.

If you get this then the problem is the browser language set during autoupdate. We have to remove all translation flag on server side to force the server

[2016-06-16 08:40] normanjaeckel opened #2202 "Fix flake 8 issues from new flake8 release from yesterday."

[2016-06-17 08:59] matakuka commented on #2025
I don't understand the difference between `gettext` aka `_` and `gettext_noop` (which is used extensively in the log). A quick googling wasn't very helpful.

[2016-06-17 10:00] matakuka commented on #2140
At the moment, the comment field can only support two lines of text (~90) without the candidate list going out of bounds (in the case of four candidates). Moving the spaces around (e.g. less indentation) would need some rework on the ballot as a whole, which may be the best to do when doing the client-side implementation.

[2016-06-17 11:59] emanuelschuetze commented on #2140
Ok, let us wait until we use jsPDF.

[2016-06-17 17:47] normanjaeckel commented on #2025
`ugettext` aka `_` means that Python tries to translate this string during runtime. `ugettext_noop` means something like “no operation”. The string is marked as translatable so that the translation tools can find and insert it into the po files. But during runtime the string is not translated. The developer has to care that the variable or object comes somewhere else to a place where it is transla

[2016-06-17 17:48] normanjaeckel commented on #2025
https://docs.djangoproject.com/en/1.9/topics/i18n/translation/#marking-strings-as-no-op

[2016-06-17 18:02] #2202 closed

[2016-06-27 23:05] donovaly opened #2205 "wrong info how to change the logo in the projector page"
In the settings under projector settings there is the description tha the logo can be changed by copying a file to "static/img/logo-projector.png" in your OpenSlides user folder. This is wrong:

- Instead one needs to replace the file "logo-projector.png" with a file of the same name
- the location of the file "logo-projector.png" is in the subfolder

\Lib\site-packages\openslides\core\static\img

[2016-06-28 06:56] emanuelschuetze commented on #2205
I think the settings description is correct. Try it with the portable windows version:
Go to the user data directory "openslides". Create there the folders "static\img". Copy your custom png logo file to "openslides\static\img\logo-projector.png".
Then reload the projector view (sometimes clear browser cache helps!). -> Now you should see the new logo on projector.

[2016-06-28 06:57] #2205 closed

[2016-06-28 13:11] tsiegleauq opened #2207 ""Back" Button in Tags-submenu is not translated"
When entering a "tag"-Menu, the button for "Back to overview" is labeled with "Back", which will note be translated.

Change the Label from "Back" to "Back to overview", so the translation can happen

![bildschirmfoto von 2016-06-28 15-08-45](https://cloud.githubusercontent.com/assets/10233032/16416437/8696571a-3d42-11e6-9408-9123e62ba2f7.png)

[2016-06-28 13:13] tsiegleauq commented on #2207
also mentionable, it is the same behavior for the "tag" sub page for
Agenda -> Tags,
Motions -> Tags,
Elections -> Tags

[2016-06-29 12:21] emanuelschuetze opened #2209 "Load css files for each app"
Load css files per each app in angular - like js files.

[2016-06-29 19:37] emanuelschuetze opened #2210 "Remove all speakers of a list"
Feature request:
Add a new button to the list of speakers control view (agenda/item-detail.html) to remove all speakers (old, current, next) from the list. Button should be colored red with a trash icon.

This new action helps an administrator to "recycle" an agenda item for a new event by clearing the whole list of speakers.

[2016-06-29 20:01] emanuelschuetze opened #2211 "New list of speakers overlay"
The current list of speakers (of projected agenda item) should be shown on the projector in a new "overlay" - a box on the bottom right corner of the projector slide. See https://docs.openslides.org/de/_images/Agenda_04.png for an example in OpenSlides 1.7. (This feature is still missing in 2.0.)

The overlay should show the last speaker (in grey), the current speaker (in bold) and the next max. 5

[2016-06-29 20:28] emanuelschuetze opened #2212 "New view which shows always the current list of speakers"
Add a new view (on the webinterface, not on projector) which shows always the _current_ list of speakers. This list is dependent on the current projected slide (agenda item, motion, election).

Example:
* Projector shows agenda item A. The list of speakers of A is shown on the new view.
* Change projector slide to agenda item B. Then the new view shows automatically the list of speakers of B.
* Ch

[2016-06-29 20:41] emanuelschuetze opened #2213 "Select parent agenda item in motion form"
While creating a new motion the parent agenda item should be selectable in motion form.
Currently new motions are placed at the end of the agenda.

Example:
There is an agenda with the following items:
* item A
 * item AA
* item B
* item C

All 4 agenda items should be provide in a new drop down list for the new field 'parent item' - as second field below 'identifier'. If user select 'item B' the

[2016-06-29 20:56] emanuelschuetze opened #2214 "New users field 'number'"
Add a new users field "number" which should help to map the membership/delegate number of a participant.

Show the number in the participants overview table (e.g. in a second line below the name). I don't like a separate column because it should be useable also for events without users numbers.

[2016-06-29 20:58] emanuelschuetze commented on #2214
Please add the number field also in users csv import.

[2016-06-30 10:54] normanjaeckel opened #2215 "Add hint in group list view"
Add a hint in the template of the group list view that the groups registered and anonymous are special in some way and that all users gain permissions esp. from the group registered so that group permissions in the other groups (delegates, staff, committees, ...) are additional.

[2016-06-30 11:07] normanjaeckel opened #2217 "Use new field is_committee in template"
Show nice tags or icons to show that a user is a committee. This issue is valid after #2216 is merged.

[2016-06-30 11:14] normanjaeckel opened #2218 "User CSV import success message is wrong"
* Setup new database
* Download CSV example file for users.
* Import this file

You see that 3 new users are to be imported but the success message says that only one or two are imported successfully.

[2016-07-08 20:29] tsiegleauq opened #2223 "file upload broken in master"
I installed OpenSlides (just now again) like in explained in https://github.com/OpenSlides/OpenSlides/blob/master/DEVELOPMENT.rst on two arch linux machines. File Upload does not work. It works on the OpenSlides Demo though.

What I am doing in detailed:
python manage.py start
in webbrowser
login with "admin" "admin"
Go Files -> New
Fill Form to upload an image

![bildschirmfoto von 2016-07-08 22-

[2016-07-10 21:09] normanjaeckel commented on #2223
Hm. This looks like a bug beeing introduced by the change of the backend server (from tornado to django-channels). Maybe the use of "insecure" does only work for statics but not for media. @ostcar ?

[2016-07-10 21:24] #2164 closed

[2016-07-11 07:55] normanjaeckel opened #2224 "Add hook to load custom CSS"
Add a hook to load custom static files like CSS and fonts. At the moment you can place some files in your personal user data directory but they are not loaded by default. We may add an empty CSS and JS file for this so that is easier to customized template in some way.

[2016-07-13 12:48] normanjaeckel opened #2227 "Use new field origin in template"
Show field origin in several templates. This issue is valid after #2226 is merged.

[2016-07-18 14:10] tsiegleauq opened #2228 "avoid <img src={a-foreign-server}>"
in tinymce, please either block the possibility to refer to images on external servers
OR (better)
change the behavior of OpenSlides for foreign images.
After the user refers to an external image, automatically download the image to the OpenSlides server, add it "as a file" and refer to the image like you would do to a local file.

Please avoid every reference to external servers like this:
![bild

[2016-07-24 19:33] j4nkr opened #2229 "Unable to start OpenSlides in Debian 8.5"
Unfortunately i'am not able to start OpenSlides after a successfully installation in Debian 8.5.
[code]
Same error with root, tried to install via pip and build from github sources.
Installed python packages:
[code]

[2016-07-26 21:03] emanuelschuetze commented on #2229
You have to use python 3.4+, see [README](https://github.com/OpenSlides/OpenSlides#a-check-requirements).

[2016-07-26 21:03] #2229 closed

[2016-07-27 08:08] emanuelschuetze commented on #2145
I removed the unused config option in pr #2230

[2016-07-27 08:28] emanuelschuetze commented on #2113
We have to add "Image list" to the tinymce translation file manually (e.g. https://github.com/OpenSlides/tinymce-i18n/blob/master/langs/de.js). The image list plugin is not part of the tinymce core translation, see http://archive.tinymce.com/i18n/.

For me this missing translation string is not a problem. We could wait until tinymce updated the translations in one of the next releases.

[2016-07-27 13:43] emanuelschuetze commented on #2217
@normanjaeckel I created a pull request for your branch that you can merge #2216 together with my client-side changes.
https://github.com/normanjaeckel/OpenSlides/pull/12

[2016-07-28 07:28] emanuelschuetze commented on #2207
Fixed with #2231

[2016-07-28 07:28] #2207 closed

[2016-07-28 09:11] #2210 closed

[2016-07-29 09:31] normanjaeckel opened #2237 "Delete multiple speakers – How to handle error"
If you want to delete multiple speakers, you can send an array with ids. How to handle an error here  (e. g. an invalid speaker id)?

a) Delete nobody? Then we have to add `with transaction.atomic():` to the viewset method.
b) Delete all valid speakers? Then we have to add `break` to the viewset method.
c) Something else ...?

[2016-07-29 09:55] #2217 closed

[2016-07-29 10:16] #2227 closed

[2016-07-29 10:18] matakuka commented on #2237
**case 1**: a request that is malformed and may have had a destination elsewhere, but contains entries that could read as valid speaker_ids. In this case we should verify if the list really (only) contains speaker_ids that exist in the database, and not rely on the client committing good lists. At the moment I don't see such a malformed request arriving, but I'll think about it this weekend.

**ca

[2016-07-29 10:29] normanjaeckel commented on #2237
Hm. If we abort we should tell the client which speakers are deleted and which not. With one invalid id in the middle of the array the valid speakers at the end of the array are not deleted. So I prefer to continue parsing the rest of the array to delete all valid speakers. Of course a privileged user may run a DoS attack here (case 2) but I don't think this is a real danger.

[2016-07-29 19:59] normanjaeckel opened #2238 "JS Error: this.getDoc(...) is undefined"
I got this error in the console when opening the motion create or edit dialog. The dialog works however.

[2016-07-31 19:27] emanuelschuetze opened #2239 "Filter for search results"
The search results should be filtered by a selected OpenSlides app: agenda item, motions, elections, participants, files. Each filter should show as checkbox between search bar and search results. - This was a feature from OpenSlides 1.7 which is still missing in 2.0.

[2016-07-31 19:34] emanuelschuetze commented on #2127
Easy solution: Allow HTML tags in message output on projector.
Use `<div .. ng-bind-html="message"></div>` in [slide_message.html](https://github.com/OpenSlides/OpenSlides/blob/master/openslides/core/static/templates/core/slide_message.html#L3).

Test it by enter e.g. `<br>` tag and check that the projector messages shows a line break.

[2016-08-01 09:03] matakuka opened #2240 "Creation of meaningful <title> in html output"
When having several tabs open, (e.g. online openSlides demo, local openSlides config, local openSlides projector), all these report as "OpenSlides" in the browser title bar, which can get confusing and result in a lot of searching for tabs. Especially if we add views/screens. I'd propose something like "projector - openSlides", maybe even with a favicon that represents what is currently on (I'm no

[2016-08-01 09:08] matakuka commented on #2240
Nevermind. It is in the system, only as "openSlides-Projector", so that "..projector" was not displayed anymore, when having too much tabs open

[2016-08-01 09:08] #2240 closed

[2016-08-01 14:17] matakuka commented on #2093
this issue is already merged in master (#2194), so it can be closed (I see no button to do it myself)

[2016-08-02 07:40] matakuka opened #2244 "Loss of candidates when deleting a poll."
While working on a different issue, I found, that in a (not totally improbable) use case, I can make a candidate disappear from the candidate's list.
1. Make an assignment
2. Start the election, enter values.
3. Mark John Doe as "elected" (by activating the star), but don't publish.
   (At this point: Create pdf --> incorrect list of candidates, missing John Doe)
4. Delete this round of election,

[2016-08-02 07:46] #2093 closed

[2016-08-02 10:30] emanuelschuetze commented on #2213
see https://github.com/OpenSlides/OpenSlides/compare/master...emanuelschuetze:agenda-parent-item-id

[2016-08-02 10:55] matakuka opened #2245 "Unnecessary amount of traffic and lag on editing config texts"
When writing text in the /config form, for example, 'general_event_welcome_text', after every keystroke the field is sent as a PUT request, creating traffic, lag and server usage.

[2016-08-02 17:04] #2197 closed

[2016-08-03 07:25] emanuelschuetze opened #2246 "User detail view with additional information about involved motions/elections"
Extend the user detail view with more information about
a) motions where the person is submitter/supporter and
b) elections where the person is candidate.

[2016-08-03 07:32] emanuelschuetze commented on #2223
@ostcar @normanjaeckel This regression blocks us by working on issues with mediafiles (e.g. motion pdf with included images). Can one of you help to find the bug here?

[2016-08-03 07:34] emanuelschuetze commented on #2198
@ostcar @normanjaeckel
This issue is a blocker for use current master in production - and also for tests with many users/motions you always run into this lockerror. So we need a fix for this regression asap. Who can look a this issue?

[2016-08-03 08:37] matakuka opened #2247 "user import preview silently drops users because of missing columns"
The use of the import preview in `/users/import` is that you can see which user has to be imported manually/reformatted. However, some users don't even appear on the list: Those with the incorrect number of entries.
**Expected behaviour**: one (partially filed?) line with some information on the line saying *"this user won't be imported"*, or a *"line %s could not be imported because it is badly f

[2016-08-03 09:44] matakuka commented on #2218
Random observation from such an import:
I imported 7 entries, got three "500 internal server error" on client side. The server side reported
[code]
All seven entries imported (correctly, as far as I can see), but the message said that four were imported. Thus, the number counts the number of correct reponses from the server, not the number of entries imported into the database. Also, the server se

[2016-08-03 11:14] ThomasJunk opened #2248 "autoupdate mechanism is broken after introduction of django channels"
Introduced with commit fe64941aabd0228fc8090ca21f2f99df5204ee20

Bug 1)
2016-08-03 12:39:00,523 - ERROR - worker - Error processing message with consumer
…
  File "/home/thomas/python/OpenSlides/openslides/utils/autoupdate.py", line 89, in send_data
    instance = Model.objects.get(pk=message_pk)
…
openslides.motions.models.DoesNotExist: Motion matching query does not exist.

Steps to reproduce:
C

[2016-08-03 11:25] FinnStutzenstein opened #2249 "'manage.py start' fails on computers without a browser"
When running `manage.py start`, it do not start the webserver if no runnable browser is found while giving this error:

[code]
This happend to me on a remote server with only a console.

Maybe simple solution: Catch error, skip the start and maybe give a message on the console.

[2016-08-03 11:46] matakuka commented on #2249
you can start it by `python managy.py start --no-browser`.

[2016-08-03 11:48] ThomasJunk commented on #2223
Note:
The actual upload is not broken. The file is in the according (=correct) folder. Any requests to retrieve the file are failing.

[2016-08-03 12:03] emanuelschuetze commented on #2249
The start command should not abort if no browser is available. So catching error and start server (without running browser) would be a good idea.
And yes, of course, you could use `--no-browser` directly.
@FinnStutzenstein Feel free to make a pull request for this issue.

[2016-08-03 13:58] #2145 closed

[2016-08-03 14:14] normanjaeckel commented on #2248
Added fix for case 2. In case 1 Model.objects.get(pk=message['pk']) should not fail because the object is already created before the autoupdate process starts to distribute the message to the clients.

[2016-08-03 14:19] normanjaeckel commented on #2247
See #2218.

[2016-08-03 14:24] normanjaeckel commented on #2248
Creating works for users, custom slides and thelike but not for motions. So I think this is a special motion problem.

[2016-08-03 14:34] normanjaeckel commented on #2198
Try this: http://whoosh.readthedocs.io/en/latest/api/writing.html#utility-writers

[2016-08-03 14:47] normanjaeckel commented on #2198
Please test again. The SQLite error might be still there.

[2016-08-03 14:50] normanjaeckel commented on #2218
Looks like the same DB error as in #2198.

[2016-08-03 14:51] ThomasJunk commented on #2223
I don't know, whether this regression was introduced during django channel upgrade or even earlier.
Suspicious commit may also be 8d638a908d6405dfda81db7e04d0e6b5c6656628 where routing was changed heavily.

As far as I can see is `/media/` not mapped, though configured in settings as `MEDIA_URL`.

[code]

Have I overlooked some setting?

[2016-08-03 19:30] emanuelschuetze commented on #2248
Case 2 is now fixed (and merged) with PR#2250. Thanks to @normanjaeckel .

Still open: the `openslides.motions.models.DoesNotExist` error

[2016-08-03 19:33] emanuelschuetze commented on #2218
Yes, #2198 is an other bug and is not part of this csv import issue.

[2016-08-03 19:42] emanuelschuetze commented on #2198
Successfully tested: The whoosh.index.LockError is fixed with PR #2251.

[2016-08-03 19:46] emanuelschuetze commented on #2198
Still open: the DB error `django.db.utils.OperationalError: database is locked`

Steps to reproduce:
Import users csv example file.

@normanjaeckel Any idea?

[2016-08-03 19:55] emanuelschuetze commented on #2223
The channels commit fe64941aabd0228fc8090ca21f2f99df5204ee20 introduces the problem. With OpenSlides 2.0 the routing of uploaded mediafiles works successfully.

[2016-08-03 19:56] emanuelschuetze commented on #2223
@normanjaeckel Any idea?

[2016-08-03 21:44] ThomasJunk commented on #2223
@emanuelschuetze
You're right. I just read the diff again. I think line 150 of autoupdate.py solves the mystery.
 ` (r'%s(.*)' % settings.MEDIA_URL,` was the line, I was searching for.
This is the part of the configuration of tornado 🌪. If I understand that correctly, Tornado delivered the media files. I suppose that with the replacement of Tornado, there is no handling of the `/media/` route anym

[2016-08-04 07:29] ThomasJunk commented on #2248
I am looking into that.

[2016-08-04 08:19] normanjaeckel commented on #2223
Yes. One may try to (re)add the media handling to the urls.py. The static file handling which was formerly also done by Tornado is now done with the `insecure` option in the start command and the corresponding line in the urls.py. We need a way like this for media files.

In a big production environment the admin may configure a frontend webserver like Apache to serve static and media directly so

[2016-08-04 08:21] #2214 closed

[2016-08-04 12:11] ostcar commented on #2198
https://docs.djangoproject.com/en/dev/ref/databases/#database-is-locked-errors

[2016-08-04 13:10] matakuka opened #2253 "Feature request: Avoidance of double users imports"
**Issue:** If a csv of users is imported twice, all the users are imported twice, and have two similar entries as different accounts. It can easily happen, and there is no rollback possible.

**Desired behaviour:** Loop through the users to be imported. If certain information is identical (`first name & last name & number` ?), there should be a table/dialog with the matching cases, offering the fo

[2016-08-04 13:26] emanuelschuetze commented on #2198
@normanjaeckel Can you try a pull request?

[2016-08-04 14:26] normanjaeckel commented on #2198
[code]
Try this but it does not fix the problem.

[2016-08-04 15:14] ThomasJunk commented on #2248
@normanjaeckel

I don't know. I played with the autoupdater and got the following interesting straces:

[trace1.txt](https://github.com/OpenSlides/OpenSlides/files/401880/trace1.txt)
[trace2.txt](https://github.com/OpenSlides/OpenSlides/files/401879/trace2.txt)

trace1.txt is from simply creating a poll.
trace2.txt is from creating a motion.

For debugging reasons, I added `print(json.dumps([(k, v

[2016-08-04 18:39] normanjaeckel commented on #2248
I can't explain: `send_data` is called by `inform_changed_data` which is called by `inform_changed_data_receiver` which is a Django signal receiver that is connected to the `post_save` signal. This signal is fired after `model.save()` is called so I would expect that the data is already available.

I have an idea. @ThomasJunk do you want to check it? In `motions.serializer.MotionSerializer.create(

[2016-08-04 20:47] ThomasJunk commented on #2248
Hm. Seem really tricky :D

Out of curiosity: It would be interesting to know, whether this occurs only with sqlite or any other backend ...

I'll have a fresh look tomorrow ;)

[2016-08-05 08:13] matakuka commented on #2019
I'm doing this with #2239

[2016-08-05 15:37] ThomasJunk commented on #2248
Huh?! Okay: Here are my findings:
According to the [documentation](https://docs.djangoproject.com/ja/1.9/topics/db/transactions/#tying-transactions-to-http-requests), everything works like _expected_, only that we are expecting the wrong things(?):

In our context, it reads like this:

`transaction.atomic` starts a transactional context, when the request ist received. Then whatever is done during

[2016-08-05 15:40] ThomasJunk commented on #2248
@normanjaeckel

From the above: it is not really _faster_ it is as a middleware (?) _cheating_ :D

[2016-08-08 05:53] ostcar commented on #2223
Here is described how: http://stackoverflow.com/a/28063707

[2016-08-08 08:23] matakuka opened #2258 "Majority indicators on polls"
(I am currently working on:)

Creating an indicator for each election candiate to see if a certain mayority is reached:
- relative mayority (more votes than other candidates)
- absolute mayority (50% + 1 of the valid votes)
- two/third mayority (66% + 1 of the valid votes)
- ... (suggestions?)

I think it should be a button with a drop-down menu (to select the mayority calculation). Candidates tha

[2016-08-08 19:16] ostcar commented on #2198
I can not reproduce the sqlite error. It works fine on my computer. I read in the documentation of python-sqlite, sqlite and django but could not find anything why I works for me and not for you. @emanuelschuetze can you test this on different operating systems? Maybe it is a special problem with debian based distributions (maybe they use strange compile arguments for sqlite).

[2016-08-08 19:27] normanjaeckel commented on #2258
Do not forget to care about the yes-no-abstain election modus. Then the  meaning of the terms of majority changes ...

[2016-08-08 20:00] ostcar commented on #2193
@emanuelschuetze is this still an issue? see #2194

[2016-08-08 20:03] ostcar commented on #2007
@emanuelschuetze is this still an issue?

[2016-08-08 20:04] ostcar commented on #1934
I am not interested in doing this.

[2016-08-08 20:06] ostcar commented on #1717
no

[2016-08-08 20:07] ostcar commented on #2031
I don't think this optimization is so important.

[2016-08-09 06:43] FinnStutzenstein commented on #2238
It seems to be a [known Issue](https://github.com/angular-ui/ui-tinymce/issues/264) with tinyMCE 4.3.13. There are some possibilities:

I could specify the version if tinymce-dist in the `bower.json` to 4.3.12. Or I could use the fixed version from mortizpflaume (see the link above) and somehow change the source of tinyMCE to [this modified code](https://cdn.rawgit.com/moritzpflaum/ui-tinymce/mast

[2016-08-09 10:39] emanuelschuetze opened #2259 "New category sort view"
Add a new view to sort all motions of a category via drag&drop (similar to agenda sort view).

A button "numbering" should renumber the identifer of each (sorted) motion, e.g. B 1, B 2, ...
You can use the code snippet from my test branch to see the right post request url: https://github.com/OpenSlides/OpenSlides/compare/master...emanuelschuetze:NumberCategories2#diff-8ace1613d1310b7a1a40a1676da3c

[2016-08-09 12:17] emanuelschuetze commented on #2198
@ostcar What were your steps to reproduce it? Please try my steps to reproduce it (I cannot imagine that it depends from the operation system):

Here my steps to reproduce it always on Ubuntu 16.04:
* remove `personal_data` directory (with DB, search index, settings etc.)
* run OpenSlides on current master: `python manage.py start` (new sqlite db is created)
* login and go to `/users/import`
* dow

[2016-08-09 12:31] emanuelschuetze commented on #2198
@normanjaeckel I tested the timeout option in settings.py - same error.

[2016-08-09 12:45] emanuelschuetze commented on #2238
@FinnStutzenstein Can you check if tinyMCE 4.4.x works with OpenSlides and ui-tinymce - and fixed this reported issue?

[2016-08-09 12:54] FinnStutzenstein commented on #2238
@emanuelschuetze Ho do I change the version? This doesn't work (part of the bower.json):
[code]
I've ask on [Stackoverflow](http://stackoverflow.com/questions/38831455/how-to-specify-the-version-in-bower-override) yesterday, but I didn't get any answer..

[2016-08-09 12:55] emanuelschuetze commented on #2248
I tested successfully case 1 with pull request #2256:
After creating new motion there are no `openslides.motions.models.DoesNotExist` any more.

[2016-08-09 14:03] #2223 closed

[2016-08-09 14:25] emanuelschuetze commented on #2193
#2261 will fix this issue.

[2016-08-09 14:27] emanuelschuetze commented on #2245
#2261 fixes this issue. I added a 'wait period' of 1 sec (`ng-model-options="{debounce:1000}"`) before a put request was send.

[2016-08-09 14:38] emanuelschuetze commented on #2007
This works with current master:
Update a motion gets only a PATCH request. No GET requests after autoupdate. So closed.

[2016-08-09 14:38] #2007 closed

[2016-08-09 14:38] normanjaeckel commented on #2182
We should discuss the goal of this issue in the different use cases:

# Motions

We only support one voting method: You can fill out six fields per motion poll: yes, no, abstain, votes valid, votes invalid and vots casts.

This issue is about the new possibility that the percent values should base on the sum of yes and no votes instead of the field valid votes or votes cast. No problem here.

# As

[2016-08-09 18:18] #2193 closed

[2016-08-09 18:18] #2245 closed

[2016-08-09 20:02] matakuka commented on #2182
The new config value is valid only for two cases: Motions and assignments/yesnoabstain. As in the other cases no abstain appears, it behaves as *yes/no (including abstains)*  does.
(note: In the voting methond  *yesno* you can not abstain.)

- John Doe has 40 Y / 30 N / 30 A votes, 100 voters
 - "40% Yes" respects all voters, and shows that John has convinced less than half of the voters.
 - "57%

[2016-08-09 20:08] emanuelschuetze opened #2262 "Remove django permission 'can add/change/delete session'"
There are 3 django(?) permissions which should removed from our OpenSlides permissions:
can add session
can change session
can delete session

[2016-08-09 21:05] matakuka commented on #2237
The behaviour now is more or less as wanted: loop through the array, and try a deletion for each speaker. Upon successful delete, a success message is created, for every fail a failure message. A failure occurs whether the user is  not on the list or the user does not exist.

**As the loop happens fast, no (or only the last) message will be displayed.**

We could:
- collect these messages and disp

[2016-08-10 05:46] ostcar commented on #2198
This seems to be a problem with one of our requirements.

I did exactly what you ask and did not get an error. Then I run ```pip install -r requirements.txt -U``` and now I get the database is locked error.

Here are the packages, that where updated:
[code]

[2016-08-10 05:46] ostcar commented on #2198
So to fix this we have to find the problematic dependency, downgrade it and write a bug report.

[2016-08-10 07:38] emanuelschuetze commented on #2198
@FinnStutzenstein Please try to find the problematic python package (and version). Thx.

[2016-08-10 08:51] FinnStutzenstein commented on #2198
I have checked all packages alone, so all other packages are the newest ones. I get the Error every time, it seems to be a combination of packages, that causes this error. My workflow:
[code]
I had problems with beautifulsoap4. While uninstalling I have got this error:
`Cannot uninstall requirement beautifulsoap4, not installed` So, the error **_may_** come from beautifulsoap4 - I will try to chec

[2016-08-10 09:18] ghost opened #2263 "Feature requests: Search improvements"
Search could need (see also #2255):
- [ ] 'repairing' of special characters, so a `=` (and others) doesn't erase/shorten the query.
- [ ] separating words and searching for occurrence of both words (`John President` returns presidents named John, not only a person named "John President")
  - this could be done by splicing the query, sending first word to server, and filtering results for occurrenc

[2016-08-10 09:23] FinnStutzenstein commented on #2198
@ostcar I could not recreate your status where no error appeared. I have the following packages and versions matching yours:
[code]
Maybe you have overseen something? Emanuel said like an older databaseversion or so.

[2016-08-10 09:36] matakuka opened #2264 "Feature request: Unproject slides"
Provide a fast method for each slide to be "unprojected" again.

*If a manager projects a slide and sees it is a mistake (e.g. slide is displayed too early), the first "panic reaction" is clicking on the "project" button again, which, in most cases, does nothing.*

**Desired:** Display a neutral slide (starting slide? slide saying: "One moment please..."? Blank slide?) if no slide is marked for pr

[2016-08-10 09:58] matakuka commented on #2264
I think the best place for such a button would be in core/projector-controls. This would avoid accidental double-clicking, but can be reached fast in an expected place. I'll prepare some suggestion (but it has lower priority).

[2016-08-10 10:30] emanuelschuetze commented on #2264
Good idea to unproject slides! - My suggestion: each activated project button should unproject the slide by clicking a second time (then the button is deactivated / no longer a primary button).
What do you mean with projector-controls?

[2016-08-10 10:35] emanuelschuetze commented on #2253
Closed. Duplicate of #1213.

[2016-08-10 10:35] #2253 closed

[2016-08-10 10:35] emanuelschuetze commented on #1213
@matakuka has created a duplicate issue #2253 (already closed) with some more description:

**Issue:** If a csv of users is imported twice, all the users are imported twice, and have two similar entries as different accounts. It can easily happen, and there is no rollback possible.

**Desired behaviour:** Loop through the users to be imported. If certain information is identical (`first name & las

[2016-08-10 14:14] FinnStutzenstein opened #2265 "Unhandled error with category numbering"
I got an unhandled error when trying to number all motions in one category. Setup:
Category A:
- Motion One, ID: X
- Motion Two, ID: A 2
  Category B:
- Motion Three, ID: A 1

Obviously, the numbering of category A fails, because ID "A 1" is already defined. But it gives a traceback and this [html document](https://github.com/OpenSlides/OpenSlides/files/411264/error.html.txt) (you have to rename i

[2016-08-10 15:42] matakuka commented on #2264
I mean the drop-down menu on the right (I called it projector-controls as the template has this name).

The disadvantage of the "click/click again solution" is that it could be frustrating if the server or javascript somehow reacts in different speeds than the user assumes
- "doesn't work! I'll click again" | "I doubleclick on everything, especially blue buttons" = two state changes where one is i

[2016-08-11 04:57] ostcar commented on #2198
I don't get a working version now neither. At least I can reproduce the error now...

[2016-08-11 06:31] FinnStutzenstein commented on #2259
@emanuelschuetze The numbering with the post request works fine, but:
The motions will be numbered after their id; If I reorder them, the numbering function don't get the information about the new order and orders them still after their id's. I mean, somehow I have to pass the new order to numbering, so it could renumber the motions correctly.

Is it a good way to pass a list of the new sorted id'

[2016-08-11 06:49] emanuelschuetze commented on #2259
Good question.
@normanjaeckel Looks like the [numbering function in views.py](https://github.com/OpenSlides/OpenSlides/blob/master/openslides/motions/views.py#L305) should be expand that a sorted motion list can be pass by client with the post request.

[2016-08-11 07:19] FinnStutzenstein commented on #2238
@normanjaeckel @emanuelschuetze I would consider one of there two options:

1. Downgrade from 4.3.13 to 4.3.12 --> no error, but maybe some more bugs ([see changelog](https://github.com/tinymce/tinymce-dist/blob/master/changelog.txt#L23))
2. Stay at 4.3.13 and ignore the error and check, whether it appears in a non production environment.

[2016-08-11 07:36] emanuelschuetze commented on #2238
I want to upgrade to tinyMCE 4.4.x later (for OpenSlides 2.1). But we should wait until this bug is fixed in upstream. - Up to that time I prefer option 1 (downgrade to 4.3.12). Please make a pull request.

[2016-08-11 19:23] emanuelschuetze commented on #2116
see #2128

[2016-08-12 11:21] FinnStutzenstein opened #2267 "The "back" button in /core/tags doesn't work after creating a new tag"
When creating a new tag, the "back" button doesn't navigate to the origin, where one has clicked on "Tags". Instead, one is redirected to the new tag page, because a `history.back()` is used. This is very irritating.

[2016-08-12 11:42] emanuelschuetze commented on #2267
First, we should discuss it and think from user side.
@matakuka You implement the back button in #2183. What do you mean? Should we remove the button again?

[2016-08-12 12:22] matakuka commented on #2267
A `history.back()` goes back to the last time the URL changed, which is not always the last time the state changed. For `state` changes, we have no memory yet.

Also, it is not always well defined where "back" is:

Most of the time, a "back" should send us upwards in the hierarchy. The hierarchy is modular, so Tag is top-level, but you may have been on Agenda before. There are also cases where I w

[2016-08-12 12:37] FinnStutzenstein commented on #2267
Or is it somehow possible to save only for the tag page, where the user come from in one variable. So by clicking back, the user is sent to where he comes from. It should be a must, when entering the tag page, to give this as an argument, so the tag page always know where to go back. But coming from edit or new, the argument could be `none` so the last state does not get overwritten.
So you don't

[2016-08-12 18:58] matakuka commented on #2267
I think we should tackle this issue globally, not only on the `Tag` page, as there are other pages where the user could arrive from different places.
- e.g. `agenda list` -> `edit election`: After updating the election you are on their `assignments/#` page, which leaves you with an `all elections` button, but you might want  "back" to be the agenda list, which is two or three states ago. `history.

[2016-08-12 19:33] matakuka commented on #2263
- [ ]  suboptions. I search for `users`named `John`, but only want to get the Johns that are `present` | `elected` | `in group "delegates"`

[2016-08-12 20:32] matakuka commented on #2258
Indeed it gets complicated. My *feeling* says the percentages are is always on the base of the valid votes, but I did not dig into the deeps of democratic calculations yet. I will soon prepare a list/chart of all election modes and possible results.
**When this list is done, I will need advice from a more user side view**, being "which is the correct definition of majority `#n`".

What I'm doing b

[2016-08-13 07:17] normanjaeckel commented on #2238
This issue remains open so we do not forget to fix this problem finally. Temporary fix is merged.

[2016-08-13 08:03] ostcar commented on #2198
See https://github.com/andrewgodwin/channels/pull/297

[2016-08-15 07:47] #2249 closed

[2016-08-15 09:11] matakuka commented on #2258
Further thoughts on this:

1) Config for the formula, so that a manager can decide. `*` being the default. Accesible from config and directly from the voting result pages, as popup/overlay:
 - Select the conditions for majority (green):
  -   `*Over*|At least`  `33|*50*|66|own number` percent of `all votes|*all valid*|all valid without abstains|sum of all Yes votes`
   - relative majority by `n` v

[2016-08-15 21:56] normanjaeckel commented on #2259
See #2273.

[2016-08-15 22:14] #2248 closed

[2016-08-16 08:10] matakuka commented on #2258
**How to handle config?**
As for now, the config I am using for determining the majority is a list of javascript objects (example see below).  I am unsure where to store this amount of configs (server side or in javascript).
- each user should have a personal setting, not demanded by server
- it would be nice to "remember" those settings for a next meeting
- it may be one, two or more conditions
-

[2016-08-16 10:59] emanuelschuetze commented on #2259
@FinnStutzenstein Please test #2273

[2016-08-16 20:08] emanuelschuetze commented on #2159
will be fixed with pdfmake #2236

[2016-08-16 20:12] emanuelschuetze commented on #2149
Fixed with #2261

[2016-08-16 20:12] #2149 closed

[2016-08-16 22:01] normanjaeckel commented on #2267
+1 for global solution. But if it is easy and nobody has time to solve this problem globally I could live with a temporary partial solution.

[2016-08-16 22:29] normanjaeckel opened #2274 "Cleanup global settings and user settings."
Use Django 1.9 template for a new settings file. Remove the deprecation warning. Support Django 1.10.

[2016-08-17 05:49] #2198 closed

[2016-08-17 06:55] emanuelschuetze commented on #2259
#2273 is merged now.

[2016-08-17 08:18] FinnStutzenstein opened #2275 "500er error with djangorestframework>=3.4.0"
When trying to edit ones group permissions, I get `OPTIONS http://192.168.46.10:9999/rest/users/group/ 500 (Internal Server Error)` with all versions of `djangorestframework` 3.4.x. it works with version 3.3.3.

[2016-08-17 08:43] emanuelschuetze commented on #2275
@normanjaeckel Any idea?

[2016-08-17 13:45] normanjaeckel commented on #2275
https://github.com/tomchristie/django-rest-framework/issues/3751

They swipped out our metadata content so we have to readd it in GroupViewSetMetadata.get_field_info.

[2016-08-17 20:34] normanjaeckel opened #2278 "Allow fake models for autoupdate cycle"
At the moment our autoupdate collections (see `collection_string`) have to be Django models. It is not possible to use an non Django model Python object to send information via autoupdate by a plugin. In autoupdate.py `send_data` we use `Model = get_model_from_collection_string(message['collection_string'])` and `instance = Model.objects.get(pk=message['pk'])` which force to use Django models.

Pr

[2016-08-17 20:34] normanjaeckel commented on #2278
@ostcar Any comments on this? If not I would try something the next days.

[2016-08-18 13:20] emanuelschuetze opened #2279 "Multi selection for motion state filter"
It should be possible to filter for multiple states (e.g. accepted, accepted with changes, ...)

[2016-08-18 14:59] #2259 closed

[2016-08-19 07:35] emanuelschuetze commented on #2165
Another issue of csv import:
Categories are multiple created (e.g. 2 motions with category "foo" creates 2 categories "foo").

[2016-08-19 14:48] j4nkr commented on #2229
Thanks and sorry ...

[2016-08-19 15:08] ThomasJunk opened #2287 "pdfMake Firefox has problems with (large) .png files"
When including .png files, the pdfMake plugin crashes with "rangeError".

Probably related to upstream Error:
https://github.com/bpampuch/pdfmake/issues/665

See also:
http://pdfmake.org/#/gettingstarted

Author mentions, that some features only work with Chrome

[2016-08-19 15:26] ThomasJunk opened #2288 "Followup for issue #2284"
After merging of #2284 there are several points left:

* Extract PDF-Components to separate module (core/site.js, motions/site.js)
* Beautify code indentation (use 4 instead of 8 spaces) in (core/site.js)
* There are open issues regarding Firefox and PNG #2287
* Line numbering is not implemented
* For printing of multiple motions, one needs to implement a ContentProvdider which does the job.
Idea:

[2016-08-20 04:57] ThomasJunk commented on #2288
In order to completely substitute reportlab, ballot papers have to be generated via pdfMake.
I scribbled  together a quick version at the playground of pdfMake.
To enhance, the borderstyle of the used table has to be a little tweaked.

[stimmzettel.txt](https://github.com/OpenSlides/OpenSlides/files/428136/stimmzettel.txt)

[2016-08-20 05:03] ostcar commented on #2278
I think fake_models sounds a bit hacky. It should also be possible, to send something else then a model to the clients. There could be a function send_custom_data(dict) that sends the dict to the client.

The bigger problem is the client side, which has to decide if a model is received or thomething else. But I think this can be solved. We already have a receiver on the client-side. So there can b

[2016-08-20 07:15] ThomasJunk commented on #2287
see also https://github.com/bpampuch/pdfmake/issues/660

[2016-08-22 07:03] FinnStutzenstein opened #2293 "lodash uniqWith doesn't work"
With Lodash version 4.0.0 the `_.uniqWith` feature is introduced. At the moment, you have to upgrade to version 4.0.0 manually. It would simplify the code in the `$scope.import` function (in motions `side.js`; there is a TODO mark, PR:  #2286) a lot, but this feature doesn't work.

The [test](https://lodash.com/docs#uniqWith) from lodash.com went wrong:
[code]
But it does not filter duplicates; th

[2016-08-22 08:34] matakuka opened #2294 "Error: pdfMake is not defined in /motion"
*in current master*
to reproduce:
1. create a motion
2. enter motion detail page
3. click "pdf"

`Error: pdfMake is not defined
$scope.makePDF/<@http://.../static/js/motions/site.js:821:19`

[2016-08-22 09:24] tsiegleauq commented on #2294
Cannot reproduce.
You are either not on current Master or did not delete your cache.

if
`less openslides/motions/static/js/motions/site.js | grep pdfMake`

dies return something for you, you are on Master and just need to wipe your browsers cache.
If this does not return a thing you are not on master.

[2016-08-22 10:00] matakuka commented on #2294
sorry, was a cache problem

[2016-08-22 10:04] tsiegleauq commented on #2294
to never fear about cache problems again try to "Disable cache (while DevTools is open)" in your chrome/chromium or "deactivate cache while toolbox open" on firefox

[2016-08-22 10:31] #2294 closed

[2016-08-22 10:38] tsiegleauq commented on #2287
@emanuelschuetze
I was able to successfully reproduce this fix provided by @FastestRobot.
I do not really know how to bring this patch in our upstream now.
Since our schedule is pretty tight I would

- Fork pdfmake
- Make according changes
- make a pull request on pdfmake upstream
- change our bower pdfmake source to my fork.

Is that the way to go? the reason for this is that we cannot really cha

[2016-08-22 12:11] normanjaeckel commented on #2287
What about a pull request to pdfmake? Can we get when they will release the next version?

[2016-08-22 12:16] normanjaeckel commented on #2288
I think we also need the circles or boxes where you can check your vote.

[2016-08-22 12:26] FinnStutzenstein commented on #2293
Since using pdfmake, I can not change the lodash version, because lodash is already included in pdfmake with version 3.10.1. The result are two different versions of lodash (3.10.1 and 4.15.0) in the `openslides-libs.js`. If i print `_.VERSION` I get the 3.10.1 version.

How do we solve this problem?

[2016-08-22 12:47] tsiegleauq commented on #2288
I also noticed that (insanely) huge images do not display in PDF.
Somewhat large images also render ober the page-width.

This is not really an issue, since I would absolutely expect that it creates insanely huge images, but we can and should solve it nevertheless.

[2016-08-22 12:57] FinnStutzenstein commented on #2293
There is an open issue for this problem: https://github.com/bpampuch/pdfmake/issues/276

[2016-08-22 13:05] tsiegleauq commented on #2287
depends on how fast they work. We need to be done next week.
I talked to @emanuelschuetze, I gonna fork it now and make a pull request. If they accept it untill next week its fine, if they do not we should use my forked version in OpenSlides for a while.

[2016-08-22 13:26] #435 closed

[2016-08-22 21:41] normanjaeckel commented on #2293
You can find out or ask when the fix in pdfmake will be released. Then we can decide whether to wait or to make a temporary fork.

[2016-08-22 21:45] normanjaeckel commented on #435
Short note to everybody who concerns: After merge of this feature it is (more or less) necessary to reset the database because we do not have any migrations between the old and the new built-in groups.

[2016-08-22 21:52] normanjaeckel opened #2295 "Load all at the beginning"
At the moment we do not load all data at the beginning of our AngularJS app. But on almost every page we load almost everything in complex resolve-loadRelations constructions. Sometimes we use findAll which might be not correct.

So what about just load everything at the beginning and then remove all resolve and find and findAll code to cleanup a little bit?

[2016-08-23 06:13] matakuka commented on #2295
The main problem is that the resolved data is not static, and javascript does not know the server data changes without asking. Resolve just asks on page loading/ state changing.

Which is fine the moment you open a state. But I've run into several problems where *new* data since the last resolve were not included, so I had to turn to `getAll` or loading relations midway in the code, because a new

[2016-08-23 06:38] FinnStutzenstein commented on #2293
There is a fix with PR #443 in the newest version 0.1.20, but it doesn't work for me. It takes about a year to merge this PR and the latest updates were on may, so I don't think it is maintained very well.
The easiest solution ist in my perspective a fork, because we only have to remove lodash from the dependencies. And we could still use version 0.1.17 and don't have to upgrade.

[2016-08-23 08:13] normanjaeckel commented on #2295
I think this is what our autoupdate is about. New items come from websocket and are saved into the DS (jsData). Then the array created with findAll() (either in a resolve or in a controller) will be updated automaticly. Some missunderstanding ...? @ostcar may help.

[2016-08-23 09:34] tsiegleauq commented on #2295
Yep, it probably will. Depending on how much data has to be loaded from the server, this might cause performance issues.

I honestly think in OpenSlides case Lazy loading is the way to go
https://en.wikipedia.org/wiki/Lazy_loading

[2016-08-23 09:55] matakuka commented on #2295
My observation on autoupdate is this:
[code]
The agenda_item.speakers will be autoupdated and show the users.
If a new user is created (by a different browser instance with different cache) and added to item.speakers, the new user *does not appear*, but an empty line.

item.speakers will autoupdate and link to a new user.id, but the user(new user.id) does not exist for the browser until the next r

[2016-08-23 11:13] matakuka opened #2296 "users without permission to see users cannot see if they're logged in"
1. Create a user with permission can_see_users not set.
2. Log in;
3. Bar on the top right shows "log in" instead of "user name"
4. rest API shows that user is logged in.

-> setUser in static/users/base.js: 24pp requests (user) by querying forbidden User.find()

[2016-08-23 11:51] #2296 closed

[2016-08-23 12:09] tsiegleauq opened #2298 "make ballot papers with pdfmake"
By @ThomasJunk  from #2288

I scribbled together a quick version at the playground of pdfMake.
To enhance, the borderstyle of the used table has to be a little tweaked.

[https://github.com/OpenSlides/OpenSlides/files/428136/stimmzettel.txt](url)

Ballot paper shall contain the Motion number, the title of the motion, options for "yes", "no" "abstention".
An A4 Page shall contain 6 "section" with b

[2016-08-23 12:29] tsiegleauq opened #2299 "Motion catalog over pdfmake"
By @ThomasJunk from #2288

The motion catalog shall contain:

---
(Page One:)
Heading: "Motions"

(if there are any categories, a list of categories with the Prefix and Name on first page)
Heading2: "Categories"
{Prefix} {Name}

(page two if there are categories, still one if there aren't, a table of contents with the following setup)
Heading2: "Table of Contents"
"Motion" {if set: the Category pr

[2016-08-23 12:34] tsiegleauq opened #2300 "Line numbers in PDF for Motions"
by @ThomasJunk from #2288

Line numbers have been intruduced in #2292 and need to be in the PDF as well.
According to what I saw all the required information are in the plain HTML code, so if line numbers are activated in a motion the PDF shall be generated with containing line numbers.

Superscript and Subscript numbers are currently not possible with pdfmake [https://github.com/bpampuch/pdfmake/

[2016-08-23 12:36] tsiegleauq opened #2301 "scale insanely large images for PDF generation"
By myself in #2288

[2016-08-23 12:37] tsiegleauq commented on #2288
I created issues out of the information provided here. I guess this can be closed now.

[2016-08-23 12:45] emanuelschuetze commented on #2300
There are two different kinds of line numbering:
1. outside - should work in pdfmake
2. inline - superscript style is prefered, but you can also use just a smaller font size.
This issue has high priority.

[2016-08-23 12:48] tsiegleauq commented on #2300
I can do it that way. We can change it again once pdfmake starts supporting superscript and subscript.

[2016-08-23 18:17] normanjaeckel opened #2302 "Permissions to see objects on the projector."
See discussion [here](https://github.com/OpenSlides/OpenSlides/pull/2241/files#diff-6c3a4eee52612ead0a8e34f29168811cR148). Then question is whether we want to move down restrictions for **all** users if a slide needs to display some speakers, candidates, submitters and thelike. Or if we want to implement some kind of reload of the projector if some user changes. Or if we want to add some more data

[2016-08-23 18:17] normanjaeckel commented on #2302
@ostcar What do you think?

[2016-08-23 21:17] #2075 closed

[2016-08-23 21:17] #2165 closed

[2016-08-24 06:31] emanuelschuetze commented on #2159
Fixed with #2284

[2016-08-24 06:31] #2159 closed

[2016-08-24 06:36] emanuelschuetze commented on #2155
I tested it with current master:
* set config option to allow the deactivation of versioning
* create new motion in complex workflow
* set state of motion to 'permit'
* now change the motion text (without checking 'trivial change') -> new version is created
* permit the new versoin
* change again the motion text (with checking 'trivial change') -> NO new version is created

Works as expected. Clos

[2016-08-24 06:36] #2155 closed

[2016-08-24 06:38] emanuelschuetze commented on #2112
I can't reproduce it with current master. Looks like an (already fixed?) JS error has blocked rendering the page.  Please reopened if you can reproduce it again.

[2016-08-24 06:38] #2112 closed

[2016-08-24 06:40] emanuelschuetze commented on #2111
This is already fixed in #2261

[2016-08-24 06:40] #2111 closed

[2016-08-24 06:42] emanuelschuetze commented on #2218
This issue works with #2271 and a the fix in current master of channels (fixed by #2198).

[2016-08-24 06:42] #2218 closed

[2016-08-24 07:20] emanuelschuetze commented on #2298
options are: Yes/No/Abstain (not abstention)

[2016-08-24 08:41] normanjaeckel commented on #2275
Problem not fixed. We have to change  GroupViewSetMetadata.get_field_info and then update to djangorestframework 4.x

[2016-08-24 12:29] tsiegleauq opened #2307 "Cleanup PDF-related Code"
From @ThomasJunk in #2288

We need to get the PDF-Related Code out of the core and get it into dedicated JS files (since it is a lot of code)
We also need to remove all reportlab related code out of the "motions".
Furthermore, some JS-files could need some beautification. indentation seem to be completly random

[2016-08-24 12:31] tsiegleauq commented on #2287
actually, the size of the PNG files is not the problem. Large PNG files do, in fact, work.
Only PNG-Files with an alpha channel do cause the issue.
So a possible workaround would be to (just) remove the alpha channel before converting.

[2016-08-24 14:02] tsiegleauq commented on #2287
Fixing this issue might require more time.
This error seems not to be caused by the pdfmake libabry but by another library that pdfmake uses, since I cannot find the source code for the buffer implementation in pdfmake nor pdfkit.

As a temporary solution we could hack the compiled JS file (which I already did).
Another option would be to convert the PNG images to JPG images with a white backgroun

[2016-08-25 06:51] ostcar commented on #2302
I like our current way. If you add permission for some users then the only Thing we need is a way to request some users to the rest api. For example: give the users with the ids 5, 46 and 50. Dango Rest framework and js-data support this.

[2016-08-25 06:57] ostcar commented on #435
Is it possible to create migrations? One gole of OpenSlides 2.0 was, that there is no need to recreate the Database. At least from 2.0 to 2.1 an Update should be possible.

If I would be still active in OpenSlides, I would Veto this pull request without a migration

[2016-08-25 07:26] matakuka commented on #2302
The problems I am having on slides with "can_see_projector" only¹:
- Getting a subitem (Assignment -> agenda_item) only works upon reloading the page (F5). Changes in agenda_item are not updated, unless I have can_see_agenda. This applies both to Agenda.find() and Assignment.loadRelations()
- Displaying speaker lists (in the new overlay or in the existing agenda list of speakers) requires can_see_

[2016-08-25 10:19] Shirk commented on #435
I’m strongly with @ostcar - migrations should be of huge concern as having to reset your database is probably the worst thing you can do to a user without having a major release jump to argue for it.

[2016-08-25 10:33] normanjaeckel opened #2315 "Add migrations for new permission matrix"
We need a migration file from v2.0 to v2.1. Therefor we need a concept how to handle old (maybe customized) and new groups.

[2016-08-25 10:34] normanjaeckel commented on #435
See #2315.

[2016-08-25 10:38] normanjaeckel commented on #2287
Please try your best on a sotution without python image lib. These libs caused heavy problems on install of different systems (Windows 64 bit ...) since the birth of OpenSlides. No more motivation here ...

[2016-08-25 11:55] normanjaeckel commented on #2137
See #412.

[2016-08-25 15:22] #2213 closed

[2016-08-25 15:53] #2212 closed

[2016-08-25 15:53] #2019 closed

[2016-08-25 15:53] #2239 closed

[2016-08-25 16:00] matakuka opened #2316 "Find a nice "fullscreen" icon"
low priority:

find a bootstrap icon for fullscreen buttons, as in openslides/agenda/static/templates/agenda/current-list-of-speakers.html:6 (see #2235)

[2016-08-26 07:33] emanuelschuetze commented on #2299
@tsiegleauq yes, as discussed

[2016-08-26 09:27] FinnStutzenstein commented on #2316
These [icons](http://fontawesome.io/icons/) are included. There is one fullscreen icon, but it is not the prettiest. You may make an [icon request](https://github.com/FortAwesome/Font-Awesome/issues).

[2016-08-26 09:49] FinnStutzenstein commented on #2315
in 2.0 there are these groups:
1: Guests
2: Registered users
3: Delegates
4: Staff
5: Committees
6: Group_1
9: Group_4

Now, Group `Guests` has the same permissions as `Default`, so just change the name.
`Registered Users` has to be deleted. Maybe it is possible to decrement all ids >= 3:
1: Guests --> 1: Default
[code]

[2016-08-26 12:09] matakuka commented on #2316
[arrows-alt](http://fontawesome.io/icon/arrows-alt/) would be my preference.

[2016-08-26 12:51] FinnStutzenstein commented on #2316
or [expand](http://fontawesome.io/icon/expand/)?

[2016-08-26 14:11] normanjaeckel opened #2320 "Regression: Global translation of config values via management command"
We have a function `translate_customizable_strings()` in our utils/main.py In OpenSlides 1.x one could run this function to translate all translatable default config values like `The assambly may decide` to `Die Versammlung möge beschließen`.

He have to add this feautre or remove the unused function.

We should also readd the test that was removed in #2313.

[2016-08-26 14:27] normanjaeckel commented on #2315
In 2.0 there was no group Committees.

[2016-08-26 14:34] normanjaeckel commented on #2315
What about the following:
1. Rename group pk=1 (Anonymous) to `Default`
2. Rename group pk=2 (Registered) to something like `OldRegistered` but do not delete it.
3. Add all users, that are not member of a group to this group.
4. Add all permission of this group (pk=2) to all other groups.

So we have all advantages @FinnStutzenstein described above and also old users without any group may get the

[2016-08-27 10:16] lesteenman commented on #2301
High-resolution images seem to cause issues either way, since it renders very slowly. If they could be optimized before rendering, it would likely help a lot.

[2016-08-27 10:27] tsiegleauq commented on #2301
this does not sound like an issue to me. If the user wants to use a full grown image, he shall live with the consequences. Image manipulation over JS is not that easy and the python image library is frowned upon in OpenSlides.

Waiting a little for the document to be generated is completely normal, since you need to convert a lot of stuff into base64 which takes a while.

If this is too much for s

[2016-08-27 15:12] matakuka commented on #1855
This may be handled with autoupdate.py Autoupdate should send changes in operator privileges (just to the operator concerned), and the operator factory needs to $watch for changes. I think when this comes into place, all ng-ifs and os-perms will be updated automatically.

I'll see what I can do.

[2016-08-27 15:31] matakuka commented on #2295
I had some further reading into autoupdate.
The data only gets out of sync if we are not connected to autoupdate of the data.
This happens if we don't have privileges, and if the connection is lost.

You can get outdated data in your client:

1. If you load the page without resolving
2. If you lose internet connection or websocket connection
3. If you are logged out, you won't receive updates
4. i

[2016-08-27 15:44] matakuka opened #2322 "(Restricted) data are not cleared on logout"
Admin logs in on browser, logs out, Joe logs in on the same browser, has the cache of Admin.

Joe won't receive any updates he is not allowed to receive, but can still access the (cached) data.

The only thing stopping him from doing so is that the data is not _shown_. Still, it is a security concern, and I have had cases where I could see data I was not allowed to (user names).

`sessionStorage.c

[2016-08-27 15:46] matakuka commented on #2322
This will affect #2295, as with this, the "beginning" will not be on page load, but on user login.

[2016-08-28 22:42] tsiegleauq commented on #2300
@emanuelschuetze
I looked a little deeper into this.
As you might remember, my very first statement was that the line-number plugin shall rather be designed to work with the PDF-plugin than vice versa, since the PDF plugin is designed to crawl over HTML-code and parse it into a PDF and should be as generic as possible to be compatible with the upstream of makepdf.

After looking into the line numb

[2016-08-28 22:46] tsiegleauq opened #2327 "Motion inline line numbers do not support long words"
When entering long words, the inline line numbers have some strange behavior

![bildschirmfoto von 2016-08-29 00-45-39](https://cloud.githubusercontent.com/assets/10233032/18037362/01ec2290-6d82-11e6-94b6-da340c0eb7d9.png)

[2016-08-28 22:50] normanjaeckel commented on #2327
@tsiegleauq Can you please also post the outside and the none view of this motion that we can compare the things easier?
@CatoTH Can you reproduce this?

[2016-08-29 00:07] tsiegleauq commented on #2327
Hi.

Outside:
![bildschirmfoto von 2016-08-29 02-05-46](https://cloud.githubusercontent.com/assets/10233032/18037800/2e7c2b6a-6d8d-11e6-9b94-680e8db3bb38.png)

None (could also look cleaner)
![bildschirmfoto von 2016-08-29 02-05-53](https://cloud.githubusercontent.com/assets/10233032/18037802/37a0cb24-6d8d-11e6-84cd-a60812f56aee.png)

Basically, this is my testing string. (I used it to research st

[2016-08-29 06:44] FinnStutzenstein commented on #2315
So, the fixed assignment between Delegates -> 2 and Staff -> 3 is not important? If not it is a good solution, because the user can decide, what he want to do with the old group.
`create_or_reset_admin_user` tries to find the group `staff` with pk=3. This would give problems with the migration, but also if an admin have build their own groups-structure, this may fails. I think, there should be mor

[2016-08-29 07:12] FinnStutzenstein commented on #1717
Tested with angular-ui-tree 1.16.0 and 2.17.0: no error anymore! Sorting of agenda and motion categories works. I'll create a PR.

[2016-08-29 09:48] matakuka commented on #2275
Maybe it is just a minor change:

openslides/users/views.py:176 pp.

[code]
gets you a `"agenda | item | Can manage agenda"`

The difference will be that choices is no dict any more, and I don't know a) where it is used and b) if you need other information from choices{} somewhere

[2016-08-29 10:32] matakuka opened #2329 "Agenda Tree does not autoupdate correctly"
**Problem:**
The agenda list (agenda/base.js:AgendaTree) keeps deleted entries. A page reload does not help if you have cache enabled.

**Probable cause:**
Autoupdate does not correctly send information on deleted data

The cause for this starts in utils/autoupdate.py: 119
[code]
The root_instance calling the "send delete information" is queried for "which object is deleted?", but the object *is a

[2016-08-29 11:07] emanuelschuetze commented on #2329
@normanjaeckel Any idea?

[2016-08-29 13:37] normanjaeckel commented on #2275
We can see [here](https://github.com/tomchristie/django-rest-framework/pull/4021/files) that they removed the choices field completely. There should not be a dict any more and not even a string. But we have to readd the content we had before at this place.

[2016-08-29 14:59] #2329 closed

[2016-08-29 15:01] emanuelschuetze commented on #2182
Reopened: #2319 is still open

[2016-08-29 16:36] #2275 closed

[2016-08-29 18:30] #1717 closed

[2016-08-31 08:24] emanuelschuetze commented on #2327
@CatoTH Can you look at this issue please? In None mode there should be added linebreaks if line is to long.

[2016-08-31 08:27] emanuelschuetze commented on #2300
As discussed: Use `motion.getTextWithLineBreaks(version)`, see
https://github.com/OpenSlides/OpenSlides/blob/master/openslides/motions/static/js/motions/base.js#L154 and
https://github.com/OpenSlides/OpenSlides/blob/master/openslides/motions/static/templates/motions/motion-detail.html#L276

[2016-08-31 11:05] #1213 closed

[2016-08-31 11:06] normanjaeckel commented on #2010
Done with #2291.

[2016-08-31 11:06] #2010 closed

[2016-08-31 14:11] normanjaeckel opened #2335 "Non privileged user sees ban icon in users list"
A non privileged user should not be able to see if other users are active. Therefor the field is stripped of from REST data. But now he always sees ban icons in the users list.

[2016-08-31 14:55] normanjaeckel commented on #1871
Look also for PATCH requests in mediafiles and agenda.

[2016-09-01 13:19] emanuelschuetze commented on #2316
@matakuka Please use the fa-expand icon for fullscreen. Thx.

[2016-09-01 13:26] emanuelschuetze opened #2338 "Provide new user name function with title (or change user.get_short_name())"
user.get_short_name() should contains also the title of the user. Currently get_full_name has this only.

We decided in #2337 that we want to provide such a function only on JavaScript side by implement a new function, e.g. short_name_with_title.

[2016-09-01 13:31] emanuelschuetze opened #2339 "Load angular-gettext language files from plugins"
Find a way to load angular-gettext json files from plugins

Currently [here](https://github.com/OpenSlides/OpenSlides/blob/master/openslides/core/static/js/core/base.js#L128) the language file from OpenSlides core is loaded - depending on selected language: `gettextCatalog.loadRemote("static/i18n/" + lang + ".json");`

[2016-09-02 11:06] normanjaeckel opened #2341 "Possibility for plugins to set a verbose name in the permission matrix"
A plugin that adds new permissions is shown in the matrix with a technical name. It should be possible to use a human readable verbose name. Example https://github.com/OpenSlides/openslides-votecollector.

[2016-09-03 19:32] normanjaeckel opened #2342 "Label for "commit a bill""
In complex workflow we have a state "committed a bill" with the action word "Commit a bill". Is this correct? I think the word we need is "committed" / "commit" but the extra part "a bill" does not belong to the sense of this state because we do not deal about legislative bills in special but about motions in general.

[2016-09-03 21:06] normanjaeckel opened #2343 "Enhance set state and set recommendation process"
Look if we can save some queries in motion model methods and view endpoints for workflows, states and (later) recommendations.

[2016-09-05 09:37] emanuelschuetze opened #2346 "Add doc export for motions"
Export selected motions from motion list view as doc (or docx) format.

Try e.g. [html-docx-js](https://github.com/evidenceprime/html-docx-js)

[2016-09-05 09:40] emanuelschuetze opened #2347 "Go to motion line number"
Add new input field with button to motion detail template: "Go to line number ..."
The motion detail template should scroll down to specific line number and highlight the line.

**Optional:**
Add a checkbox 'also for projector' (if user has projector_can_manage permission) to scroll/highlight also to the given line number on projector.

[2016-09-05 09:46] emanuelschuetze opened #2348 "Add new ui element to generate valid json for motion comment field config"
The motion config "Comment fields for motions" required valid json if user wants to add private fields, e.g. `[{"name": "foo", "public": false},{"name": "bar", "public": true}]`.

This issue should help the user to generate such json string automatically. Suggestion: User just enters comment fields comma separated in the input field. All fields are listed below the input with a checkbox for each f

[2016-09-05 09:47] emanuelschuetze commented on #2348
Wait until #2283 is merged.

[2016-09-05 11:37] #2316 closed

[2016-09-05 11:43] normanjaeckel commented on #2346
I think this is not what we want ...

[2016-09-05 11:46] #2137 closed

[2016-09-05 12:53] FinnStutzenstein commented on #2341
A simple solution (but not the best) would be to make an entry for each existing plugin in the `users/site.js`. Like for the app users: [entry for users](https://github.com/OpenSlides/OpenSlides/blob/master/openslides/users/static/js/users/site.js#L1055)

A smarter solution is to iterate through all registered plugins. So where do the plugins register? I quickly recognized the `MainMenu`-Provider.

[2016-09-05 13:25] matakuka opened #2349 "Projector resolution: Config.get() is undefined"
Since #2318 I'm getting "Config.get(...) is undefined (/static/js/core/projector.js:70:24)" when working on projector slides.
I think it must be `Config.find(...).then( function() {do something})` in order to work?

(also typo : last-conf.height in line 72 should be last_conf)

[2016-09-05 13:28] normanjaeckel opened #2350 "Add multi-password-reset button"
See #2314. At the moment it is not possible to change the initial password. Here we implement, that the admin may select some users in the list view and clicks "generate new password". Then all initial passwords are reset to a random string. The passwords should also set to the new value. This is useful if the passwords are leaked after user creation.

[2016-09-05 13:54] normanjaeckel opened #2351 "Refactor ProjectorRequirements system"
The ProjectorRequirements have to be refactored so that they fit HTTP requests and autoupdate checks. See #2321 and #2241 and #2302.

[2016-09-05 14:27] FinnStutzenstein commented on #2349
So sometimes the Config isn't resolved? I didn't get this Error before. I'll test `find.then`.

[2016-09-05 15:02] normanjaeckel opened #2353 "Add warning if channel layer is full"
In default config we use an in-memory channel layer. If this layer is full (autoupdate.py line 125) there should be a warning or a hint on the console so the admin can think about big solutions ...

[2016-09-05 15:05] normanjaeckel commented on #2349
Config is exposed in loadGlobalData (core/base.js). Also you should use $scope.config(...) instead of Config.get(...).

[2016-09-05 15:15] normanjaeckel commented on #2349
Ah , I see. The Config.find() in loadGlobalData is not finished when the projector controller tries to access config values. So the solution is not to fire a new loadGlobalData but to wait until the next watch cycle.

[2016-09-05 18:22] salevajo opened #2354 "Can't create database with django 1.10.1"
Tried to create a superuser in an Ubuntu and in a macOS environment getting this exception:

(.virtualenv) asterix:OpenSlides pingus$ python manage.py createsuperuser
Traceback (most recent call last):
  File "/Users/pingus/Documents/Projects/OpenSlides/.virtualenv/lib/python3.5/site-packages/django/contrib/auth/hashers.py", line 129, in get_hasher
    return hashers[algorithm]
KeyError: 'md5'

Du

[2016-09-05 19:25] normanjaeckel commented on #2354
In Django 1.10.x they removed our `MD5PasswordHasher`. We have to readd it to global settings. https://docs.djangoproject.com/en/1.10/ref/settings/#password-hashers

[2016-09-05 22:47] normanjaeckel opened #2358 "Tags for topic items"
Do we want to use tags for custom slides? I can't find a form field for this.

[2016-09-06 09:11] emanuelschuetze commented on #2264
@FinnStutzenstein Maybe you can do this in your multiprojector pr.

[2016-09-06 09:28] emanuelschuetze commented on #1640
Closed. First PR #2284 with pdfmake is merged.

[2016-09-06 09:28] #1640 closed

[2016-09-06 09:31] emanuelschuetze commented on #2287
We still waiting for new pdfmake release (0.1.31) or use #2324.

[2016-09-06 09:32] emanuelschuetze commented on #2288
Ok, closed.

[2016-09-06 09:32] #2288 closed

[2016-09-06 09:36] normanjaeckel opened #2359 "Increase capacity in channel layer config in global data"
Try something like (proposed by @ostcar):
[code]
Find a proper capacity number. 10 (the default) seams too small.

[2016-09-06 10:08] FinnStutzenstein commented on #2264
It is already implemented ;) I thought it is a good idea to have this feature.

[2016-09-06 14:16] #2298 closed

[2016-09-06 14:42] #2301 closed

[2016-09-07 07:40] tsiegleauq opened #2361 "Add line number type hint for motion spans"
Hi.
There is no way to identify from HTML if line numbers in Motions are ment to display inline or outline.
In order to provide the full line number functionality in the PDF we need a separation of the line number type provided by html

currently we can only identify that via js using scope.lineNumberMode

I need some further information in HTML.
currently we have stuff like
<span class="on-line-n

[2016-09-07 14:38] FinnStutzenstein opened #2362 "Cannot read property 'map' of undefined"
In current master:

- Create an assignment
- add a user to candidates
- set state to 'start voting'
- Click on 'new ballot'

This error is printed on the console. Happens in `core/base.js: 280`. Maybe just a single check is needed if there are any hooks.

[2016-09-07 18:10] #2349 closed

[2016-09-07 18:46] emanuelschuetze commented on #2342
My suggestion for a much better wording:
 "Refered to committee" / "Refer to committee" (action word)
(In German we use already the right expression: "In Ausschuss verwiesen" / "In Ausschuss verweisen")

@normanjaeckel ok? If yes you can just change it in #2344.

[2016-09-07 18:52] emanuelschuetze commented on #2342
and the recommendation could be:
"Referral to committee" (German: Verweisung/Überweisung in Ausschuss? - I'm not sure here)

[2016-09-07 19:45] emanuelschuetze commented on #2354
This issue is very urgent: You can't create a new database with current master because django 1.10.1 is installed by default!
@normanjaeckel Can you make a pullrequest please?

Workaround:  Install Django 1.9.9 manually (`pip install django==1.9.9`) and then start and create db (`python manage.py start`)

[2016-09-07 19:52] thoessl opened #2363 "Synchronization problem when deleting a version"
If one browser (tab) is specific version of a motion and another browser (tab) deletes that version, the output in the first browser becomes somewhat useless: while the "Version History" section is updated correctly, the motion text becomes "undefined" and the version number at the top vanishes.
It seems like the motion variable in the first browser is updated through the data synchronization mech

[2016-09-07 20:17] normanjaeckel commented on #2342
Ok. Changed.

[2016-09-07 21:58] #2342 closed

[2016-09-07 22:25] #2354 closed

[2016-09-08 08:26] #2362 closed

[2016-09-08 10:13] tsiegleauq commented on #2361
since line numbers for PDF supposedly got some priority, we may shall solve this issue quickly.
Any suggestions?
@emanuelschuetze
@normanjaeckel
@CatoTH

[2016-09-08 11:02] tsiegleauq commented on #2361
we discussed this a little. Right now we can work without further information, but we honestly should consider providing further information later on, after we cleaned up the code and bought PDF generation in pdfmake upstream

[2016-09-08 11:08] normanjaeckel opened #2369 "Remove delete button for group pk=1"

[2016-09-08 11:09] normanjaeckel commented on #2369
Sorry, wrong template in cache.

[2016-09-08 11:09] #2369 closed

[2016-09-08 11:23] normanjaeckel commented on #2315
Done with #2370.

[2016-09-08 11:23] #2315 closed

[2016-09-08 13:02] normanjaeckel opened #2372 "Use password validation?"
Django 1.9 offers [password validators](https://docs.djangoproject.com/en/1.10/ref/settings/#auth-password-validators). Do we want to use them? They can not be enable by adding the to the settings because we have a special reset password viewpoint.

[2016-09-08 13:37] FinnStutzenstein commented on #2347
@emanuelschuetze Currently, no line numbers are supported on the projector, are they? So this should be the first step to change the line number mode on the projector.

[2016-09-08 13:55] emanuelschuetze commented on #2347
You habe to change the config value to show line numbers on projector.

[2016-09-09 07:44] FinnStutzenstein opened #2375 "TemplateDoesNotExist in rest_framework with Django 1.10.1"
With the current master and current Django version (1.10.1) the rest framework could not be shown when navigating to `your.server/rest`. The framework in OpenSlides works. But for development, this is a bit annoying.
A temporary fix would be to stick to version 1.9.9 and wait until this is fixed in Django.

The Traceback:
[code]

[2016-09-09 09:15] normanjaeckel commented on #2375
Temporary workaround: `pip uninstall Django && pip install "Django<1.10"`

[2016-09-09 11:08] tsiegleauq commented on #2327
to show some more "legitamte" words in the german language, which actually allows words with 92 characters and more, see this example:

![bildschirmfoto von 2016-09-09 13-04-27](https://cloud.githubusercontent.com/assets/10233032/18385028/5ba5c24a-768e-11e6-9979-5f9ea9e5933b.png)

![bildschirmfoto von 2016-09-09 13-04-37](https://cloud.githubusercontent.com/assets/10233032/18385032/62914fd4-768e-1

[2016-09-09 11:26] FinnStutzenstein commented on #2279
closed through PR #2277 ?

[2016-09-09 12:00] emanuelschuetze commented on #2279
yes, closed.

[2016-09-09 12:00] #2279 closed

[2016-09-12 11:31] FinnStutzenstein opened #2377 "Autoupdate is completely broken"
current Master (last commit ...5075):
[code]
Login and navigate to participants. Open the sidebar and click on `project Administrator`. The button stays white, the projector isn't updating. You have to reload the page to see the changes. Cache is disabled.

Do am I the only one having this problem? This is a total blocker..

pip freeze:
[code]

[2016-09-12 11:43] normanjaeckel commented on #2377
The problem might be that autoupdate is disable in some new migrations files. Try to restart the server. The second run of `python manage.py start` should work.

[2016-09-12 13:48] cobii opened #2378 "Save version information in database"
If you want to reopen an old database file (database.sqlite) you shuould be able to find some Informations about the used Software.

[2016-09-13 07:28] FinnStutzenstein commented on #2348
@emanuelschuetze In PR #2283 is one ToDo left:

How do you define an unauthorized user? I saw, you have added a new permission (`motions.can_see_and_manage_comments`). Does the `see` applies to all comments or just the public comments? My current approve is this:
[code]

[2016-09-13 07:41] FinnStutzenstein commented on #2341
@normanjaeckel Ping

[2016-09-13 11:28] FinnStutzenstein commented on #2215
@normanjaeckel closed with PR #2260 ?

[2016-09-13 11:48] FinnStutzenstein commented on #1542
implemented in PR #2379 .

[2016-09-13 11:49] FinnStutzenstein commented on #1462
@ostcar closed with PR #2370

[2016-09-13 11:52] FinnStutzenstein commented on #930
closed if PR #2379 is merged

[2016-09-13 11:53] FinnStutzenstein commented on #412
@emanuelschuetze closed with PR #2314 .

[2016-09-15 12:33] FinnStutzenstein opened #2384 "Motions delete multiple no confirmation"
When selecting multiple motions and click on delete selected no confirmation for deleting n motions is shown.

[2016-09-16 11:52] matakuka opened #2387 "how to order the candidates on ballot papers?"
When selecting candidates for an election, currently the order on the printed ballot papers is: Last entered candidate is first on list, first candidate last. On a long list, a voter may be irritated where to find the candidate of preference.

Alternatives would be:
- let the administrator decide on the order
- order by first/ last name

[2016-09-17 08:57] #2335 closed

[2016-09-17 08:57] emanuelschuetze commented on #2375
Fixed with #2373

[2016-09-17 08:57] #2375 closed

[2016-09-17 08:59] emanuelschuetze commented on #2359
@ostcar will do this in his next pull request about autoupdate.

[2016-09-17 09:19] #2238 closed

[2016-09-17 10:05] #2350 closed

[2016-09-17 11:42] #2377 closed

[2016-09-17 12:50] emanuelschuetze commented on #2104
I can't reproduce it with current master. Works well for projector live view. (maybe it was an already fixed autoupdate problem)

[2016-09-17 12:50] #2104 closed

[2016-09-17 12:53] emanuelschuetze commented on #2103
I can't reproduce it with current master. Works well to enable/diable logo and title.

[2016-09-17 12:53] #2103 closed

[2016-09-17 15:01] #2069 closed

[2016-09-17 18:34] emanuelschuetze commented on #2109
@FinnStutzenstein Please try this issue if you have time.

The idea of the feature: Each agenda item has a field 'duration' where the staff user can enter a hours or minutes. In agenda list view template should sum up all durations of all (visible and hidden) items and print the sum on top of the table (see e.g. the list view in OpenSldies 1.x: https://docs.openslides.org/de/_images/Agenda_02.png)

[2016-09-17 18:38] emanuelschuetze commented on #2110
Tags for assignments already works (tags are shown in list and detail view).

Still open: tags for customslides and/or for agenda items? (needs-info)

[2016-09-17 19:45] ostcar opened #2396 "Implement Projector.need_full_update_for()"
There is a new method that has to be implemented for all projector elements. At the moment it always returns True.

[2016-09-18 08:59] emanuelschuetze opened #2399 "Confirm multiple deletions of agenda items, elections, users"
Split up from #2385:
Add a confirmation dialog also for multiple deletions in agenda, assignments, users.

[2016-09-18 10:26] #2384 closed

[2016-09-18 10:27] normanjaeckel opened #2400 "Add management command to change config values"
@boehlke Do you want to use such a command during install OpenSlides into your containers?

[2016-09-18 11:18] normanjaeckel commented on #2351
Done by #2394.

[2016-09-18 11:18] #2351 closed

[2016-09-18 11:27] normanjaeckel commented on #2322
I can not reproduce this with current master.

[2016-09-18 11:29] normanjaeckel commented on #2274
Done with #2373.

[2016-09-18 11:29] #2274 closed

[2016-09-18 11:42] normanjaeckel commented on #2110
As discussed: Add tags for custom slides. Show tags also in agenda.

[2016-09-18 11:45] normanjaeckel opened #2402 "Move custom slides to own app."
Also use permission agenda.can_see for read access.

[2016-09-18 12:46] boehlke commented on #2400
@normanjaeckel Yes! This might be a better solution than the one I was thinking of. Can you implement this in the next days? Otherwise please assign the issue to me.

[2016-09-18 13:09] normanjaeckel opened #2403 "Startup of webclient"
- Do not use find and findAll except for user detail view. There use also find in resolve and controller (test this).
- User list view: special findAll with pagination. Do this in the controller.
- Forms with user (e.g. supporters): New api view that returns id and name, maybe using whoosh.
- When a autoupdate message comes in, users are loaded via loadRelations.
- On autoupdate connect the server

[2016-09-18 13:42] #2400 closed

[2016-09-20 07:43] emanuelschuetze commented on #2215
Yes, done with #2260. Closed.

[2016-09-20 07:43] #2215 closed

[2016-09-20 07:44] emanuelschuetze commented on #412
Done with #2314. Closed.

[2016-09-20 07:44] #412 closed

[2016-09-20 10:17] tsiegleauq commented on #2228
Just to remind you, even with the changes to the file handling from [this commit](https://github.com/OpenSlides/OpenSlides/pull/2284/commits/92a541215f6d438d7d11eb231ce39b33c5bd163a), external images still cause problems during PDF generation. It does not work.

@emanuelschuetze
@normanjaeckel
@ThomasJunk

[2016-09-20 10:56] matakuka opened #2408 "error in gulp watch"
`./node_modules/.bin/gulp watch` does not work on my machine after npm install.

gulp-angular-templatecache@2.0.0 has some error (showing as syntax error here, but I did not dig deeper).
Workaround: `npm install gulp-angular-templatecache@1.9.1`

(see [original issue on gulp-angular-templatecache](https://github.com/miickel/gulp-angular-templatecache/issues/129) )

Discussion needed: Do we *need*

[2016-09-20 19:09] normanjaeckel commented on #2400
@boehlke All done. You can test it.

[2016-09-20 19:12] normanjaeckel commented on #2408
Hm. Please try to use Node 4.x This should work, I think.

[2016-09-20 19:15] #2300 closed

[2016-09-21 12:56] #2399 closed

[2016-09-21 12:58] #2347 closed

[2016-09-21 18:20] #2402 closed

[2016-09-21 18:52] emanuelschuetze commented on #2287
0.1.31 is released and already used by current bower.json. So closed here.

[2016-09-21 18:52] #2287 closed

[2016-09-21 19:01] emanuelschuetze commented on #2114
100% means "full width" of the projector.
Examples:
* If you project a widescreen presentation pdf you get black border on top/bottom.
* If you project a A4 pdf you see the upper half of the page. But you can scroll down with the projector controls.

So this behavior is not a bug for me.
A valid feature request could be to show a PDF in full height (with black borders left/right for A4 page). Or b

[2016-09-22 14:41] FinnStutzenstein opened #2413 "Timepicker for event start date and time"
Now the user has to type in the date and time in the config in the correct formatting. A timepicker with date and time (!) would be nice and helps the user not to type the date wrong.

[2016-09-22 20:00] #2293 closed

[2016-09-22 20:40] #2109 closed

[2016-09-22 21:16] #2116 closed

[2016-09-22 21:28] #2107 closed

[2016-09-22 21:34] normanjaeckel opened #2415 "Update CHANGELOG"
Add notes for #2117, #2128, #2412, #2414.

[2016-09-22 23:06] normanjaeckel opened #2416 "Trigger autoupdate by own save method"
At the moment we use Django's post_save signal but it would be nice if we only trigger our autoupdate when using our own save method. So we can have customized save calls (with a flag to disable autoupdate) and automaticliy disable autoupdate during migrations.

@ostcar Any comments?

[2016-09-22 23:08] normanjaeckel opened #2417 "Projector container should not listen on the same channel as real projector."
At the moment we send mass of data to the projector container but it uses only some small projector and config data. We should not send all other stuff (motions and thelike) to it.

@ostcar How can we do this?

[2016-09-23 05:15] ostcar commented on #2417
At the moment the projector container uses the loadGlobalData function. This is not necessary, because it is called manually. You could call Config.findAll() in it instead.

[2016-09-23 05:17] ostcar commented on #2416
This should be possible. But you have to make sure, that .objects.create() and .objects.update() also call our save method and not the one django provides.

We also need a delete() method.

[2016-09-23 08:49] FinnStutzenstein commented on #2417
With multiprojector the resolution does not come from config, but from the projector which is shown in the iframe. So this should be changed to Projector.find(id). The projector container should only get the displayed projector as data and autoupdates for this, if the resolution has changed.

[2016-09-23 08:57] normanjaeckel commented on #2417
Yeah but what about the autoupdate data? The projector container still connects to ws/projector I think.

[2016-09-23 08:59] normanjaeckel commented on #2416
Ok let's make a list:
* save() should trigger autoupdate by default
* delete() should also do this
* create() should also do this
* update() does not do this at the moment. Should enable it by default or only by option?

Anything left?

[2016-09-23 10:45] ostcar commented on #2417
Could we save the resolution right now to the projector element and not to the config, so we do not have to change the concept in the future?

[2016-09-23 10:46] normanjaeckel opened #2418 "Agenda slide shows hidden items"

[2016-09-23 10:49] normanjaeckel opened #2419 "List of speakers slide - missing watch on changed user"
Add some speakers. Change name of speakers. Autoupdate fails although the object is sent to the server.

[2016-09-23 10:53] FinnStutzenstein commented on #2417
Can we make the projectorcontainer connect to site and specify in get_requirements the required projector. Technical the projector container isn't a projector. It is some kind of site which shows the projector, so this would make sense?

[2016-09-23 10:56] ostcar commented on #2416
I think that .update() does it at the moment. Django probably calls .save(). But I am not sure.

[2016-09-23 11:01] normanjaeckel opened #2420 "Projector sidebar runs over main content"
Scale a small browser window. At the beginning the projector side bar icon and the bar is on the right side. If you scroll down, the icon and the bar jumps on top of the main content.

![bildschirmfoto vom 2016-09-23 13 00 10](https://cloud.githubusercontent.com/assets/2073844/18783742/da61a838-818d-11e6-9aa7-9115287b3588.png)

[2016-09-23 11:05] FinnStutzenstein commented on #2420
I cannot reproduce that on chromium. Which browser do you use?

[2016-09-23 11:07] normanjaeckel opened #2421 "Add text to empty assignment poll slide"
If a assignment poll slide is shown but the results are not published yet, show a nice message like:

Pending results ... please wait ...

So managers can decide if the want to leave the assignment slide or the empty assignment poll slide during the offline running ballot.

[2016-09-23 11:08] normanjaeckel opened #2422 "Add check to assignment poll slide"
We have a `poll` option in projector config. This has to be verified. Also we can change the logic in get_requirements to send less data for each of the slide variant.

[2016-09-23 11:28] normanjaeckel commented on #2420
Firefox 48.0

[2016-09-23 11:29] normanjaeckel commented on #2416
update() is a manager method that performs an own SQL query to update multiple instances at once. So it does not call save in a loop.

[2016-09-23 12:31] emanuelschuetze opened #2424 "TypeError in agenda/migrations/0002_duration.py"
I started a migration from old master to current master and run into this error:

[code]

@FinnStutzenstein Any idea?

[2016-09-23 12:34] normanjaeckel opened #2425 "Remove motions_pdf_paragraph_numbering"
See #2381.

[2016-09-23 12:35] normanjaeckel commented on #2415
Also #2381

[2016-09-23 12:38] normanjaeckel commented on #2424
Just add TypeError to the exception statement.

[2016-09-23 12:45] #2420 closed

[2016-09-23 13:00] #2396 closed

[2016-09-23 13:01] FinnStutzenstein commented on #2346
@emanuelschuetze closed with #2381

[2016-09-23 13:05] #2346 closed

[2016-09-23 13:55] #2424 closed

[2016-09-24 11:34] #2348 closed

[2016-09-24 11:39] #2425 closed

[2016-09-24 11:41] #2422 closed

[2016-09-25 16:22] lesteenman opened #2431 "re: Installation Instructions (Virtualenv)"
What distribution uses the notation of the README.md to set up a virtualenv? Each example I've come across uses `virtualenv [-p python3.4] .virtualenv` rather than `python3 -m venv .virtualenv` that's in the README. The latter notation also does not work for me.

[2016-09-25 16:23] lesteenman commented on #2431
Suggestion: Either make it clear which version should be used to use that notation, add/replace it with the different notation, or remove the line altogether, simply stating that a virtualenv should be set up first. Wrong instructions are bad instructions, even if they are only wrong in some environments.

[2016-09-26 07:50] normanjaeckel commented on #2431
The line works for me and it uses the built in venv package instead of the additional `virtualenv` package well known from Python 2 times.

What is your error message? You have to have a `python3` bin that is present e. g. in Ubuntu 14.04 but of course we did not test all other distros.

Proposal. We add the other form/way as hint or remark.

[2016-09-26 07:52] emanuelschuetze commented on #2431
Since python 3.3 you can use the built-in module 'venv', see https://docs.python.org/dev/library/venv.html#module-venv .

[2016-09-26 08:01] lesteenman commented on #2431
According to http://askubuntu.com/questions/488529/pyvenv-3-4-error-returned-non-zero-exit-status-1, it's one particular version of Ubuntu that shipped with a broken version.

[2016-09-26 08:07] normanjaeckel commented on #2431
Hm. We do not propose to use `pyvenv` but only `venv`.

[2016-09-26 08:15] lesteenman commented on #2431
Ok. If this is specific to that one Ubuntu release, I suppose this will be solved automatically in future installs.

[2016-09-26 12:06] tsiegleauq opened #2433 "PDF generation fails when using invalid HTML"
As discussed previously [here](https://github.com/OpenSlides/OpenSlides/pull/2430), PDF generation fails when trying to parse text which is not in a somewhat valid HTML format.
This is due to the usage of this function

`var image_sources = map($(content).find("img"), function(element) {
    return element.getAttribute("src");
});`
`
originally introduced [here](https://github.com/OpenSlides/OpenS

[2016-09-26 12:20] #2299 closed

[2016-09-26 13:17] FinnStutzenstein commented on #2433
I stumbled over this when I wrote the docx export: Imported motions could contain öäü,... but if I edited the text, tinyMCE saved this as correct html (with &uuml,...). Whats about to convert every plain text internally to html?

[2016-09-26 14:16] tsiegleauq commented on #2433
yep. Thats the way to go.

[2016-09-26 15:00] emanuelschuetze opened #2435 "AttributeError: 'MotionAccessPermissions' object has no attribute 'get_comments_config_fields'"
When I open a motion slide I get a AttributeError in python console:

[code]

[2016-09-26 15:16] FinnStutzenstein commented on #2435
Replace self.get_comm... With config['motions_comments'] :-)

[2016-09-26 18:49] #2435 closed

[2016-09-26 18:51] #2433 closed

[2016-09-26 18:58] emanuelschuetze commented on #2339
Any idea how we can implement a generic solution in core?

[2016-09-26 19:04] normanjaeckel commented on #2339
We can use a plugin registration hook. All plugins have to register themselves over there. Then the language factory can use some API of our hook to loop over all plugins.

[2016-09-27 08:57] FinnStutzenstein opened #2440 "Agenda estimated time uses wrong date order."
It is entered in config as dd.mm.yyyy, but when parsing the time, the `Date` parser has mm.dd.yyyy. As the result of a date like 23. january 2016, the estimated end date is `NaN`.

Suggestion: Together with issue #2413 saving the time as a timestamp on server side.

[2016-09-27 09:19] emanuelschuetze opened #2441 "Text with line numbers is not shown in motion pdf"
How to reproduce this regression:
* Create a new motion with example text.
* Create pdf of this motion (without line numbers) -> Ok.
* Switch to line numbering mode inline or outside.
* Create pdf again (with line numbers) -> PDF contains no motion text!

I need a fix today!

[2016-09-27 09:22] tsiegleauq commented on #2441
Does it work if you manually edit the motion and then export?

[2016-09-27 09:23] emanuelschuetze opened #2442 "TypeError while generating motion catalog pdf"
Import some motions (e.g. from motion-demo.csv file).
Try to create motion catalog pdf.
=> Fails with JS error: `TypeError: Cannot read property 'text' of undefined`

[2016-09-27 09:32] emanuelschuetze commented on #2441
No, same result (empty text) for manually created (or edit) motions.

[2016-09-27 09:43] tsiegleauq commented on #2441
that's odd. I Should be home like 12:15 and then I can work on a fix

Am 27.09.2016 11:32 schrieb "Emanuel Schütze" <notifications@github.com>:

[2016-09-27 09:46] emanuelschuetze commented on #2441
Thanks!

[2016-09-27 10:37] tsiegleauq commented on #2441
I looked into this.
I (still?) use the

`$scope.lineBrokenText`

to get the text with the line breaks. This does not seem to exist anymore. Did any behaviour with $scope.lineBrokenText changed recently?

@CatoTH : did you changed something according to the $scope.lineBrokenText - function?

Any furter information on this?
@emanuelschuetze
@normanjaeckel

[2016-09-27 10:40] tsiegleauq commented on #2441
I noticed in the current master there now is the
"linenumbering.js" function.

You obviously missed to pass the new information about line broken text to the pdf-generation the last migration process. Any information about how to get line broken text now?

[2016-09-27 10:48] FinnStutzenstein commented on #2441
@tsiegleauq [this](https://github.com/OpenSlides/OpenSlides/blob/master/openslides/motions/static/js/motions/base.js#L184) is the entry point for the linenumbering service if you want to have linenumbers in the motions detail view. (callback can be undefined, highlight should be 0 if not used)

[2016-09-27 10:58] tsiegleauq commented on #2441
@FinnStutzenstein thanks a lot. Works like a charm!

[2016-09-27 12:26] tsiegleauq opened #2447 "Cannot import the CSV motion exmaples."
I struggle to import the motion examples.

I tried both the "CSV example file" provided by the "import" subpage and the csv provided by the OpenSlides Online Demo.

I am on ArchLinux Stable and use Chromium 53.0.2785.116 (64-bit)
I am on OpenSlides Master.

What I did / steps to reproduce:

- deactivate
- rm -rf personal_data
- source .virtualenv/bin/activate
- pip install -r requirements.txt
- np

[2016-09-27 12:28] tsiegleauq commented on #2442
I can not even reproduce this.
I cannot successfully import the Motions from the OpenSlides online demo or the CSV-Exmaple-File provided during the import process itself. I make an [issue for the importing errors](https://github.com/OpenSlides/OpenSlides/issues/2447).

I can, however, elaborate a little further on the error you experience.

During PDF generation, this can happen in 2 places and th

[2016-09-27 13:02] FinnStutzenstein opened #2448 "Feature: Sort motions after creation date and last changed date."
Two new sort options for the motions list view.

[2016-09-27 13:29] FinnStutzenstein commented on #2442
@tsiegleauq this is an well known issue: little fix for this:
Edit .venv/lib/python3.4/site-packages/channels/management/comments/runserver.py:
Change line 68 to ...range(1)...

We are waiting for an official fix from channels, but until the fix, this is the way to go to limit the workers.

There is somewhere an open issue..

[2016-09-28 07:58] jwinzer opened #2450 "Group not set when importing participants"
![users](https://cloud.githubusercontent.com/assets/20415092/18918063/dea6a30c-8599-11e6-97a1-142413e3e348.PNG)
When importing the attached list of participants 'groups' are only imported for one of the participants. See attached screen shot.
[os_users.csv.txt](https://github.com/OpenSlides/OpenSlides/files/497402/os_users.csv.txt)

Server reports sqlite3.OperationalError: database is locked.
This

[2016-09-28 08:18] FinnStutzenstein commented on #2450
Does an error appear on the server?

[2016-09-28 12:16] tsiegleauq commented on #2442
Worked for me. Thanks.

The issue happens on and "Bildungspolitik 1 (HTML)" and "Satzungsänderung § 2 Abs. 3"
The reason why this fails is pretty simple: as I expected, they both got an extremely inconvenient content, shown in the following screenshot, on the right side highlighted in blue.

![bildschirmfoto von 2016-09-28 14-07-04](https://cloud.githubusercontent.com/assets/10233032/18912875/0d33

[2016-09-28 12:44] FinnStutzenstein commented on #2442
@tsiegleauq Just fyi: In the docx export I force free text to be placed between <p> tags. So I check if there are paragraphs and if not, I set them, so that always valid html is parsed (to be correct: I do this while parsing). I think this could be a way to solve this problem.

[2016-09-28 12:54] tsiegleauq commented on #2442
there always is a solution :)
I currently try to do something similar with the HTMLValidizer facotry.
Rubbish in -> Valid HTML out.
Since this the HTML to PDF Parser should really be just that, I rather ensure it only receives valid HTML.

[2016-09-29 07:37] FinnStutzenstein commented on #2450
@jwinzer This is a known issue: #2198
Please try to use the `--nothreading` option at startup. If this doesn't work and still 4 workers are started try to fix it with the workaround I described in issue #2442.

[2016-09-29 07:51] FinnStutzenstein opened #2451 "Protection for mediafiles"
Now, all mediafiles are reachable over the url `media/file/{filename}` for all registered and unregistered users. Also with the private flag the files are not protected; just hidden in the list view. But the name "private" suggests that this file is real private. So the user thinks that no one could access it, but this is not true.

I think that data protection is an important thing to do. So imho

[2016-09-29 07:59] FinnStutzenstein opened #2452 "ui-tree: can't sort agenda"
In current master I cannot sort the agenda with the ui-tree. I can drag an item, but the dashed placeholder where I can drop the item does not appear
![imag2815](https://cloud.githubusercontent.com/assets/8439581/18945510/31d56086-862b-11e6-93ab-87091471dd31.jpg)
(sorry for the bad 'screenshot')

I had dropped this item at the shown position and it got inserted at the top.

[2016-09-29 08:01] FinnStutzenstein opened #2453 "Translation for ng-bootbox"
The button strings in ng-bootbox-prompts are not translated (e.g. 'cancel', ...).

[2016-09-29 08:08] FinnStutzenstein opened #2454 "Search for participants with the given number"
If you want to add a participant to a list of speakers or as a candidate for an election, one could search for the name in the select chosen form field. If you have a great number of participants one would like to search not for the name, but for the number because of two reasons:
1. There could be two persons with the same name and
2. searching for a number is shorter.

This is currently not poss

[2016-09-29 08:17] FinnStutzenstein opened #2455 "Simple configuration of a custom logo"
There should be a simple solution with a file upload in the config to replace the standard OpenSlides logo. This is important for users who are not so experienced with computers to make the replacement easy and OpenSlides more usable for all users.

[2016-09-29 08:28] FinnStutzenstein opened #2456 "Ballot tabs are all closed."
After every autoupdate and action modifying the ballot all taps are closed. Expectation: The last tab is always open automaticly.

This is a screenshot after I clicked on "new ballot":
![taps](https://cloud.githubusercontent.com/assets/8439581/18946453/33b4864e-862f-11e6-8bf1-1ea0e30ad300.jpg)

I just had a quick look in the DOM: the active classes for the tab-content div as well as the li-element

[2016-09-29 08:30] FinnStutzenstein opened #2457 "Feature request: Todo list (plugin)"
Just a simple todo list as a new app (may with an entry in the mainmenu, may just reachable with a link in the agenda list view).

[2016-09-29 08:31] FinnStutzenstein opened #2458 "Feature request: logo in pdf"
There should be a possibility to set a checkbox in the config, so the current logo is also printed into the pdfs during the export.

[2016-09-29 08:39] FinnStutzenstein opened #2459 "Feature request: Benchmark for server and client performance"
This should include simulations of clients with active javascript to receive autoupdates and create requests. Additionally the server should have a huge list of participants (and some topics, motions, elections). The need for it is to test new systems, like trying to run OpenSlides on a RaspberryPi to get some kind of recommendation how much participants could handle the system. Also with a lot of

[2016-09-29 08:52] FinnStutzenstein opened #2460 "Feature request: native voting support"
Currently OpenSlides is not 100% paperless: For polls ballot papers have to be printed, cut and be handed out. Also this take some time for big assemblies.

There is now support for electronic polls, but only with extra hardware. Not every assembly want to use extra soft- and hardware to make the voting faster.

OpenSlides should give the participants a possibility to vote over their browsers and

[2016-09-29 13:37] emanuelschuetze opened #2462 "isProjected should return a list of projector ids"
Split out from #2379 for later rework (wait untile #2379 is merged):
The function `isProjected` (in core/base.js and maybe in other apps which override this function) should return a list of all projector ids which project the requested object. This is important for future if OpenSlides UI supports to project an object to multiple projectors.

Example:
The motion 42 is projected on projector 1, 2

[2016-09-30 13:13] normanjaeckel opened #2463 "Refactor caching system"
Move caching methods (and especially cache key and cache key prefix functions) to an extra class Cache for better code structure and readability.

See: https://github.com/OpenSlides/OpenSlides/pull/2404

[2016-09-30 15:35] #2441 closed

[2016-09-30 16:14] normanjaeckel opened #2464 "Countdown and Message as model"
New discussion with @emanuelschuetze: We create new countdown and message models (with access permissions, viewset, serializers, ...) and use the general projector button to control them. Countdowns are not coupled to the projector any more.

( @FinnStutzenstein It is a little bit like it was before in you pull request, but we also want to change the control buttons decouple it from the projector.

[2016-09-30 16:19] normanjaeckel opened #2465 "Rename additionalId."
In the projector button we use additionalId to provide extra arguments to project a slide in a special way (assignment poll slide for example). But this extra argument does not have to be an id, so we should rename it to something like extraArg or additionalArg or just arg.

[2016-09-30 16:41] normanjaeckel opened #2466 "Support multiple current list of speakers slide"
The current list of speakers slide should use another approach: We do not want to use the global config but save into the projector config to which projector the slide references. So we later can have multiple current list of speakers slide which reference to different projector.

Then we also can fix the bug in the current behavior (buggy get_requirements() in agenda/projector.py). To fix this, a

[2016-10-01 07:44] normanjaeckel opened #2467 "Fix broadcast"
See #2404 .

[2016-10-01 07:47] normanjaeckel opened #2468 "Extend autoupdate API for non-models."
It should be possible to use the autoupdate API for fake models. See #2281.

[2016-10-01 07:59] emanuelschuetze opened #2469 "Multiple deletes should send only one autoupdate"
send one websocket message (via informed_changed_data) for multiple objects

Example: For votecollector we want to clear all votes of a poll. Currently each delete sends an autoupdate. So the voted seats in seating plan disappear successive. Expected: all voted seats should vanish at once.

[2016-10-01 08:04] emanuelschuetze opened #2470 "Projector control button 'edit' does not work"
Project an agenda item, motion, assignment or list of speaker. Then click "edit" button in the projector control bar. Gets `TypeError: Cannot read property 'replace' of undefined`

Problematic line in base.js:
`  'state': value.name.replace('/', '.')+'.detail.update',`

[2016-10-01 08:16] emanuelschuetze opened #2471 "Minor tasks for multiprojector"
Some minor tasks splitted out form multiprojector pull requests #2379

 - [ ] Projector side bar: Use 'check' icon instead of the 'video-camera' icon in the projectorSelector drop down for selected porjector. (video-camera is for 'project' a slide only)
 - [ ] Use spinner icon for loading projector iframe. (Currenly while loading the iframe box is empty. User could think the projector does not wor

[2016-10-01 10:25] jwinzer opened #2472 "Set Category name field to unique=True"
I want to use Category.name as the weight name for weighted voting. Therefore the name should be unique.

[2016-10-01 12:49] normanjaeckel commented on #2457
See https://github.com/OpenSlides/openslides-csv-export.